<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Course</title>
    <script>

        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            var DOMFactory = {
                elementWithId: function () {
                    if (arguments.length === 0)
                        return null;
                    var elem_id = arguments[0];
                    var result = $("#template-" + elem_id).html();
                    for (var i = 1; i < arguments.length; i++) {
                        var re = new RegExp('\\{' + (i) + '\\}', 'gm');
                        result = result.replace(re, arguments[i]);
                    }
                    return $(result);
                }
            };

            var APIService = {
                init: function () {
                    $.ajaxSetup({
                        method: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=UTF-8",
                        timeout: 10000,
                        error: APIService.errorHandler,
                        async: true
                    });
                },
                errorHandler: function (xmlHTTP, status, httperror) {
                    var resp = $.parseJSON(xmlHTTP.responseText);
                    if (resp && resp["message"]) {
                        swal("Oops...", resp['message'], "error");
                    }
                },
                getCourseList: function (callback) {
                    $.ajax("/api/course", {
                        success: callback
                    });
                }
            };

            var CourseListController = {

                storage: {
                    courseList: $("#search-course-list"),
                    dataCourseList: null // lazy load
                },

                init: function () {
                    APIService.getCourseList(CourseListController.reloadCourseList);
                },

                reset: function () {
                    CourseListController.storage.courseList.html("");
                    //CourseListController.storage.searchStudentInput.val("");
                },

                reloadCourseList: function (resp) {
                    // load from cache
                    if (resp === null) {
                        resp = CourseListController.storage.dataCourseList;
                    } else {
                        console.log(resp);
                    }
                    // still null check
                    if (resp === null) {
                        return;
                    } else {
                        CourseListController.storage.dataCourseList = resp;
                    }
                    CourseListController.storage.courseList.html("");
                    var resp_course_list = resp["courses"];
                    for (var i in resp_course_list) {
                        var resp_course = resp_course_list[i];
                        var new_course_panel = DOMFactory.elementWithId("course-panel", resp_course["name"] , "panel-default");
                        new_course_panel.attr('id', "course-panel-" + resp_course['id']);
                        new_course_panel.data(resp_course);
                        CourseListController.storage.courseList.append(new_course_panel);
                    }
                }

            };

            var ViewController = {

                storage: {

                },

                init: function () {
                    ViewController.bindSearchPair();
                    CourseListController.init();
                },

                bindSearchPair: function () {
                    var BindSearchEventPair = function (input_s, list_s, where_s) {
                        $(input_s).on("change keyup paste", function () {
                            var sc = $(this).val();
                            $(list_s).each(function () {
                                var e = $(this);
                                var st;
                                if (where_s === null) {
                                    st = e.text();
                                }
                                else {
                                    st = $(this).find(where_s).text();
                                }
                                if (st.indexOf(sc) !== -1) {
                                    e.show();
                                }
                                else {
                                    e.hide();
                                }
                            });
                        });
                    };
                    BindSearchEventPair("#search-course", "#search-course-list > panel", null);
                }

            };

            {
                document.DOMFactory = DOMFactory;
                document.APIService = APIService;
                document.RootController = ViewController;
            }

            APIService.init();
            ViewController.init();

        });
        </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/student/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active"><a th:href="@{/student/course}">Course</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="page-header">
        <h1>My Courses</h1>
    </div>

    <div class="row roux-row">

        <!-- This is prototype. -->
        <div class="col-md-3" id="pt-course-panel">
            <div class="panel panel-default course-panel">
                <div class="panel-heading" id="sub1">
                    <strong class="course-title">Web Technology</strong>
                </div>
                <div class="panel-body">
                    <div class="ques-tip">
                        Questionnaire Available (3)
                    </div>
                    <hr>
                    <a th:href="@{/student/question}">Access to Course</a>
                </div>
            </div>
        </div>

        <!-- This is where you should add clones of prototype to. -->
        <div class="course-panel-list"></div>

    </div>

</div>

</body>
</html>
