<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Group</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/rating.css}">
    <script th:src="@{/js/rating.js}"></script>
    <script>
        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                getGroupDetail (callback, gid) {
                    $.ajax("/api/groupe/" + gid.toString(), {
                        success: callback
                    });
                }
                getGroupQuizList (callback, gid) {
                    $.ajax("/api/groupe/" + gid.toString() + "/quiz", {
                        success: callback
                    });
                }
                getQuizAnswers(callback, qid) {
                    $.ajax("/api/answer/quiz/" + qid.toString(), {
                        success: callback
                    });
                }
            }

            class MySessionController {

                constructor () {
                    this.DOM = {
                        groupNameHeader: $("#my-group-name"),
                        mySessionList: $("#my-session-list"),
                        myQuizList: $("#my-quiz-list")
                    };
                    const href = window.location.href;
                    const pattern = /\/student\/group\/(\d+)/;
                    this.group_id = parseInt(href.match(pattern)[1]);
                    this.load();
                }

                load () {
                    document.APIService.getGroupDetail($.proxy(this.loadGroupDetail, this), this.group_id);
                    document.APIService.getGroupQuizList($.proxy(this.loadGroupQuizList, this), this.group_id);
                }

                loadGroupDetail(resp) {
                    console.log(resp);
                    $("title").text(resp["name"] + " | PandaRoux");
                    this.DOM.groupNameHeader.text(resp["name"]);
                    const lectures = resp["groupeDetails"]["lectures"];
                    const session_list = this.DOM.mySessionList;
                    session_list.html("");
                    for (let i in lectures) {
                        const lecture = lectures[i];
                        let panel_type = "success";
                        const date_sec = Date.parse(lecture["date"]);
                        if (date_sec < new Date().getTime()) {
                            panel_type = "default";
                        }
                        const new_session_panel = document.DOMFactory.elementWithId("session-panel", lecture["name"], lecture["commentary"], "panel-" + panel_type, "btn-" + panel_type);
                        const date_elem = new_session_panel.find(".session-date");
                        date_elem.datepicker({
                            todayHighlight: true,
                            format: "yyyy-mm-dd",
                            daysOfWeekDisabled: [0, 1, 2, 3, 4, 5, 6]
                        });
                        date_elem.datepicker("update", lecture["date"]);
                        const edit_button = new_session_panel.find(".edit-session");
                        if (lecture["commentary"] === null || lecture["commentary"].length === 0) {
                            edit_button.prop("disabled", true);
                        } else {
                            edit_button.prop("disabled", false);
                        }
                        edit_button.data(lecture);
                        const session_overlay = new_session_panel.find(".session-overlay");
                        edit_button.click($.proxy(function (event) {
                            session_overlay.fadeToggle(200);
                        }, this));
                        const session_rate = new_session_panel.find(".session-rate")[0];
                        rating(session_rate, lecture["rate"], 5, function (rating) {});
                        session_list.prepend(new_session_panel);
                    }
                }

                loadGroupQuizList (resp) {
                    console.log(resp);
                    const quizzes = resp["quizzes"];
                    const quizzes_list = this.DOM.myQuizList;
                    quizzes_list.html("");
                    for (let i in quizzes) {
                        const quiz = quizzes[i];
                        if (!quiz["active"]) {
                            continue;
                        }
                        let panel_type = "success";
                        const now_sec = new Date().getTime();
                        const date_start_sec = Date.parse(quiz["date_start"]);
                        const date_end_sec = Date.parse(quiz["date_end"]);
                        let disable_flag = "";
                        if (date_start_sec > now_sec) {
                            disable_flag = "disabled";
                            panel_type = "warning";
                        } else if (date_end_sec < now_sec) {
                            panel_type = "default";
                        } else {

                        }
                        if (date_end_sec < now_sec) {
                            const new_quiz_panel = document.DOMFactory.elementWithId("quiz-panel", quiz["name"], "panel-" + panel_type, "btn-" + panel_type, quiz["date_start"], quiz["date_end"], "View status", "glyphicon-search", disable_flag);
                            const edit_button = new_quiz_panel.find(".edit-quiz");
                            edit_button.data(quiz);
                            edit_button.click($.proxy(this.editQuizButtonClicked, this));
                            quizzes_list.append(new_quiz_panel);
                        } else {
                            const new_quiz_panel = document.DOMFactory.elementWithId("quiz-panel", quiz["name"], "panel-" + panel_type, "btn-" + panel_type, quiz["date_start"], quiz["date_end"], "Reply to", "glyphicon-edit", disable_flag);
                            const edit_button = new_quiz_panel.find(".edit-quiz");
                            edit_button.data(quiz);
                            edit_button.click($.proxy(this.editQuizButtonClicked, this));
                            quizzes_list.prepend(new_quiz_panel);
                        }
                    }
                }

                editQuizButtonClicked(event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    console.log(data);
                    document.APIService.getQuizAnswers($.proxy(this.loadQuizAnswers, this), data["id"]);
                }

                loadQuizAnswers(resp) {
                    console.log(resp);
                    const answers = resp["answers"];
                    if (answers.length === 0) {
                        window.open("/student/questionnaire/" + resp["id_quiz"]);
                    } else {
                        swal("Finished", "You have already replied to this questionnaire.", "success");
                    }
                }

            }

            {
                document.APIService = new APIService();
                document.RootController = new MySessionController();
            }

        });
    </script>
    <script id="template-session-panel" type="text/plain" language="text">
        <div class="col-sm-6 col-md-4 col-lg-3 pt-session-panel">
            <div class="panel {3} session-panel">
                <div class="panel-heading">
                    <strong class="session-title">{1}</strong>
                </div>
                <div class="panel-body">
                    <div class="session-cover">
                        <div class="session-date"></div>
                        <div class="session-overlay" style="z-index: 200; display: none;">
                            <ul class="session-rate"></ul>
                            <hr />
                            <span>{2}</span>
                        </div>
                    </div>
                    <hr />
                    <button type="button" class="btn {4} btn-block edit-session">
                        <span class="glyphicon glyphicon-tags"></span>
                        &nbsp;Toggle Note
                    </button>
                </div>
            </div>
        </div>
    </script>
    <script id="template-quiz-panel" type="text/plain" language="text">
        <div class="col-sm-6 col-md-4 col-lg-3 pt-quiz-panel">
            <div class="panel {2} quiz-panel">
                <div class="panel-heading">
                    <strong class="quiz-title">{1}</strong>
                </div>
                <div class="panel-body">
                    <div class="quiz-cover">
                        <div>
                            From <u>{4}</u> To <u>{5}</u>
                        </div>
                    </div>
                    <hr />
                    <button type="button" class="btn {3} btn-block edit-quiz" {8}>
                        <span class="glyphicon {7}"></span>
                        &nbsp;{6}
                    </button>
                </div>
            </div>
        </div>
    </script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/student/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active"><a th:href="@{/student/group}">Group</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="session-page-header">
        <h1 id="my-group-name">&nbsp;</h1>
    </div>

    <div class="row roux-row">

        <div class="session-tabs" style="margin-left: 16px; margin-right: 16px;">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#sessions" role="tab" data-toggle="tab">Sessions</a></li>
                <li role="presentation"><a href="#questionnaires" role="tab" data-toggle="tab">Questionnaires</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="sessions">
                    <div id="my-session-list" class="row session-panel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="questionnaires">
                    <div id="my-quiz-list" class="row quiz-panel-list"></div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>
