<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Questionnaire</title>
    <style>
        nav {
            display: none;
        }

        .container-main {
            padding: 0 !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                getQuizDetail(callback, qid) {
                    $.ajax("/api/quiz/" + qid.toString(), {
                        success: callback
                    });
                }
            }

            class MyQuizController {
                constructor() {
                    this.DOM = {
                        quidId: $("#quiz-id"),
                        quizTitle: $(".quiz-title"),
                        quizCloseButton: $(".quiz-close")
                    };
                    const href = window.location.href;
                    const pattern = /\/student\/questionnaire\/(\d+)/;
                    this.quiz_id = parseInt(href.match(pattern)[1]);
                    this.bindEvent();
                    this.load();
                }

                bindEvent() {
                    this.DOM.quizCloseButton.click($.proxy(function (event) {
                        window.close();
                    }, this));
                }

                load() {
                    document.APIService.getQuizDetail($.proxy(this.loadQuizDetail, this), this.quiz_id);
                }

                loadQuizDetail(resp) {
                    console.log(resp);
                    const quiz_id = resp["id"];
                    this.DOM.quidId.val(quiz_id);
                    const quiz_name = resp["name"];
                    $("title").text(quiz_name + " | PandaRoux");
                    $("#nav-title").text(quiz_name);
                    this.DOM.quizTitle.text(quiz_name);
                }
            }

            {
                document.APIService = new APIService();
                document.RootController = new MyQuizController();
            }

        });
    </script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/student/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active"><a id="nav-title">Questionnaire</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="quiz">
        <form th:action="@{/student/quiz/submit}" method="post">
            <input id="quiz-id" type="hidden" name="id_quiz" value="">

            <div class="quiz-well">
                <button class="btn btn-default quiz-close">
                    Exit Survey
                </button>
                <div class="quiz-title"></div>
            </div>

            <div class="quiz-body">

                <!-- Short Answer -->
                <div class="question-block">
                    <div class="row">
                        <span class="question-title col-xs-12">
                            What is your favourite color?
                        </span>
                    </div>
                    <div class="question-answer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="question-1" placeholder=""
                                               value="">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Paragraph -->
                <div class="question-block">
                    <div class="row">
                        <span class="question-title col-xs-12">
                            Do you have some better ideas or advices?
                        </span>
                    </div>
                    <div class="question-answer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea rows="6" class="form-control" name="question-2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Checkboxes -->
                <div class="question-block">
                    <div class="row">
                        <span class="question-title col-xs-12">
                            Select your favourite programming languages.
                        </span>
                    </div>
                    <div class="question-answer">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="1">C
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="2" checked>C++
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="3">Java
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="4" checked>Objective-C
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="5">PHP
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="6">Javascript
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="7" checked>Swift
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="8">C#
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="question-3" value="9" checked>Python
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Radio Boxes -->
                <div class="question-block">
                    <div class="row">
                        <span class="question-title col-xs-12">
                            Your gender?
                        </span>
                    </div>
                    <div class="question-answer">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="question-4" value="1" checked>Male
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="question-4" value="2">Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-2">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="question-4" value="3">Asexual
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

</body>
</html>
