<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Questionnaire</title>
    <style>
        nav {
            display: none;
        }

        .container-main {
            padding: 0 !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                getQuizDetail(callback, qid) {
                    $.ajax("/api/quiz/" + qid.toString(), {
                        success: callback
                    });
                }
                answerQuiz(callback, data) {
                    $.ajax("/api/answer/quiz", {
                        data: JSON.stringify(data),
                        success: callback
                    });
                }
            }

            class MyQuizController {
                constructor() {
                    this.DOM = {
                        quizForm: $("#quiz-form"),
                        quidId: $("#quiz-id"),
                        quizTitle: $(".quiz-title"),
                        quizCloseButton: $(".quiz-close"),
                        quizSubmitButton: $("#quiz-submit"),
                        quizBody: $(".quiz-body"),
                        quizData: null
                    };
                    const href = window.location.href;
                    const pattern = /\/student\/questionnaire\/(\d+)/;
                    this.quiz_id = parseInt(href.match(pattern)[1]);
                    this.bindEvent();
                    this.load();
                }

                bindEvent() {
                    this.DOM.quizCloseButton.click($.proxy(function (event) {
                        swal({
                            title: "Exit Confirm",
                            text: "Do you want to close this window?\nAll changes will be lost!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, close it!",
                            closeOnConfirm: false,
                            html: false
                        }, $.proxy(function () {
                            window.close();
                        }, this));
                    }, this));
                    this.DOM.quizSubmitButton.click($.proxy(this.onSubmit, this));
                }

                onSubmit() {
                    const form_data = {
                        "id_quiz": parseInt(this.quiz_id)
                    };
                    const answers = [];
                    const resp = this.DOM.quizData;
                    const question_list_data = resp["questions"];
                    for (let i in question_list_data) {
                        const question_map = {};
                        const question_data = question_list_data[i];
                        const question_id = question_data["id"];
                        const question_type = question_data["id_question_type"];
                        const question_name = question_data["name"];
                        const question_parameters = question_data["parameters"];
                        const question_mandatory = question_data["mandatory"];
                        question_map["id_question"] = parseInt(question_id);
                        if (question_type === 1) {
                            const text_val = $("[name='question-" + question_id + "']").val();
                            if (question_mandatory && text_val.length === 0) {
                                swal("Oops...", "Please fill all mandatory field.\nField: " + question_name, "error");
                                return;
                            }
                            question_map["text"] = text_val;
                        }
                        else if (question_type === 2) {
                            const text_val = $("[name='question-" + question_id + "']").val();
                            if (question_mandatory && text_val.length === 0) {
                                swal("Oops...", "Please fill all mandatory field.\nField: " + question_name, "error");
                                return;
                            }
                            question_map["text"] = text_val;
                        }
                        else if (question_type === 3 || question_type === 4) {
                            const arr_elem = $("[name='question-" + question_id + "']:checked");
                            const arr_val = [];
                            $.each(arr_elem, function (index, value) {
                                arr_val.push({
                                    "title": $(value).attr("title"),
                                    "value": $(value).val()
                                });
                            });
                            if (question_type === 4) {
                                const count = arr_val.length;
                                const min_count = parseInt(question_parameters["user-property-checkbox-min"]);
                                const max_count = parseInt(question_parameters["user-property-checkbox-max"]);
                                if (min_count > count || max_count < count) {
                                    swal("Oops...", "The count of selection cannot satisfy the range(" + min_count + ", " + max_count + ").\nField: " + question_name, "error");
                                    return;
                                }
                            }
                            question_map["parameters"] = arr_val;
                        }
                        else if (question_type === 5) {
                            const arr_elem = $("[name='question-" + question_id + "'] :selected");
                            const arr_val = [];
                            $.each(arr_elem, function (index, value) {
                                arr_val.push({
                                    "title": $(value).attr("title"),
                                    "value": $(value).val()
                                });
                            });
                            question_map["parameters"] = arr_val;
                        }
                        answers.push(question_map);
                    }
                    form_data["questions"] = answers;
                    console.log(form_data);
                    swal({
                        title: "Submit Confirm",
                        text: "Do you want to submit this survey?\nNo change will be allowed after submission!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, submit!",
                        closeOnConfirm: false,
                        html: false
                    }, $.proxy(function () {
                        this.submit(form_data);
                    }, this));
                }

                submit (form_data) {
//                    this.DOM.quizForm.submit();
                    document.APIService.answerQuiz($.proxy(function (resp) {
                        console.log(resp);
                        if (resp["result"] === "succeed") {
                            swal({
                                title: "Submit Succeed",
                                text: "This survey has been submitted!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#5cb85c",
                                confirmButtonText: "OK",
                                closeOnConfirm: false,
                                html: false
                            }, $.proxy(function () {
                                window.location.reload(true);
                            }, this));
                        }
                    }, this), form_data);
                }

                load() {
                    document.APIService.getQuizDetail($.proxy(this.loadQuizDetail, this), this.quiz_id);
                }

                lockView (lock) {
                    this.DOM.quizBody.find("input, select, button").each(function () {
                        if (typeof this.disabled !== "undefined") this.disabled = lock;
                    });
                }

                loadQuizDetail(resp) {
                    console.log(resp);
                    this.DOM.quizData = resp;
                    const quiz_id = resp["id"];
                    this.DOM.quidId.val(quiz_id);
                    const quiz_name = resp["name"];
                    $("title").text(quiz_name + " | PandaRoux");
                    $("#nav-title").text(quiz_name);
                    this.DOM.quizTitle.text(quiz_name);
                    const quiz_active = resp["active"];
                    if (!quiz_active) {
                        swal("Oops...", "This questionnaire is no longer available!", "error");
                        this.DOM.quizSubmitButton.hide();
                        return;
                    }
                    const now_sec = new Date().getTime();
                    const date_start_sec = Date.parse(resp["date_start"]);
                    const date_end_sec = Date.parse(resp["date_end"]);
                    if (date_start_sec > now_sec) {
                        swal("Oops...", "This questionnaire is not available now!", "error");
                        this.DOM.quizSubmitButton.hide();
                        return;
                    } else if (date_end_sec < now_sec) {
                        this.DOM.quizSubmitButton.hide();
                    }
                    const quiz_body = this.DOM.quizBody;
                    const question_list_data = resp["questions"];
                    for (let i in question_list_data) {
                        const question_data = question_list_data[i];
                        const question_id = question_data["id"];
                        const question_type = question_data["id_question_type"];
                        const question_name = question_data["name"];
                        const question_parameters = question_data["parameters"];
                        const question_mandatory = question_data["mandatory"];
                        if (question_type === 1) {
                            // Short Answer
                            let question_placeholder = "";
                            if (question_parameters !== null && typeof question_parameters["user-property-short-placeholder"] !== 'undefined') {
                                question_placeholder = question_parameters["user-property-short-placeholder"];
                            }
                            const required_flag = question_mandatory ? "required" : "";
                            const question_elem = document.DOMFactory.elementWithId("quiz-short", question_name, question_id, question_placeholder, required_flag);
                            if (question_mandatory) {
                                const question_group = question_elem.find(".form-group");
                                const question_input = question_elem.find("input");
                                question_input.blur($.proxy(function (event) {
                                    const sender = $(event.currentTarget);
                                    const input_val = sender.val();
                                    if (input_val.length === 0) {
                                        question_group.addClass("has-error");
                                    } else {
                                        question_group.removeClass("has-error");
                                    }
                                }, this));
                            }
                            quiz_body.append(question_elem);
                        }
                        else if (question_type === 2)
                        {
                            // Paragraph
                            let question_placeholder = "";
                            if (question_parameters !== null && typeof question_parameters["user-property-short-placeholder"] !== 'undefined') {
                                question_placeholder = question_parameters["user-property-short-placeholder"];
                            }
                            const required_flag = question_mandatory ? "required" : "";
                            const question_elem = document.DOMFactory.elementWithId("quiz-paragraph", question_name, question_id, question_placeholder, required_flag);
                            if (question_mandatory) {
                                const question_group = question_elem.find(".form-group");
                                const question_input = question_elem.find("textarea");
                                question_input.blur($.proxy(function (event) {
                                    const sender = $(event.currentTarget);
                                    const input_val = sender.val();
                                    if (input_val.length === 0) {
                                        question_group.addClass("has-error");
                                    } else {
                                        question_group.removeClass("has-error");
                                    }
                                }, this));
                            }
                            quiz_body.append(question_elem);
                        }
                        else if (question_type === 3)
                        {
                            // Radio boxes
                            const question_elem = document.DOMFactory.elementWithId("quiz-radio", question_name);
                            const option_list = question_elem.find(".option-list");
                            if (question_parameters !== null && typeof question_parameters["user-options"] !== 'undefined' && question_parameters["user-default"] !== 'undefined') {
                                const user_options = question_parameters["user-options"];
                                const user_default = question_parameters["user-default"];
                                for (let j in user_options) {
                                    const user_option = user_options[j];
                                    const option_id = parseInt(user_option["name"].split("-")[2]);
                                    let check_flag = "";
                                    if ($.inArray(option_id, user_default) >= 0) {
                                        check_flag = "checked";
                                    }
                                    const option_elem = document.DOMFactory.elementWithId("quiz-radio-option", user_option["value"], question_id, user_option["name"], check_flag);
                                    option_list.append(option_elem);
                                }
                            }
                            quiz_body.append(question_elem);
                        }
                        else if (question_type === 4)
                        {
                            // Check boxes
                            const question_elem = document.DOMFactory.elementWithId("quiz-checkbox", question_name);
                            const option_list = question_elem.find(".option-list");
                            if (question_parameters !== null && typeof question_parameters["user-options"] !== 'undefined' && question_parameters["user-default"] !== 'undefined') {
                                const user_options = question_parameters["user-options"];
                                const user_default = question_parameters["user-default"];
                                for (let j in user_options) {
                                    const user_option = user_options[j];
                                    const option_id = parseInt(user_option["name"].split("-")[2]);
                                    let check_flag = "";
                                    if ($.inArray(option_id, user_default) >= 0) {
                                        check_flag = "checked";
                                    }
                                    const option_elem = document.DOMFactory.elementWithId("quiz-checkbox-option", user_option["value"], question_id, user_option["name"], check_flag);
                                    option_list.append(option_elem);
                                }
                            }
                            quiz_body.append(question_elem);
                        }
                        else if (question_type === 5)
                        {
                            // Dropdown list
                            let option_list = "";
                            if (question_parameters !== null && typeof question_parameters["user-options"] !== 'undefined') {
                                const user_options = question_parameters["user-options"];
                                for (let j in user_options) {
                                    const user_option = user_options[j];
                                    option_list += '<option title="' + user_option["value"] + '" value="' + user_option["name"] + '">' + user_option["value"] + '</option>';
                                }
                            }
                            let multiple_flag = "";
                            if (question_parameters !== null && typeof question_parameters["user-property-dropdown-multiple"] !== 'undefined') {
                                multiple_flag = "multiple";
                            }
                            const question_elem = document.DOMFactory.elementWithId("quiz-dropdown", question_name, question_id, option_list, multiple_flag);
                            quiz_body.append(question_elem);
                        }
                    }
                    if (date_end_sec < now_sec) {
                        this.lockView(true);
                    }
                }
            }

            {
                document.APIService = new APIService();
                document.RootController = new MyQuizController();
            }

        });
    </script>
    <script id="template-quiz-short" type="text/plain" language="text">
        <!-- Short Answer -->
        <div class="question-block">
            <div class="row">
                <span class="question-title col-xs-12">
                    {1}
                </span>
            </div>
            <div class="question-answer">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-lg-8">
                        <div id="question-{2}" class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="question-{2}" placeholder="{3}"
                                       value="" {4}>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-quiz-paragraph" type="text/plain" language="text">
        <!-- Paragraph -->
        <div class="question-block">
            <div class="row">
                <span class="question-title col-xs-12">
                    {1}
                </span>
            </div>
            <div class="question-answer">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-lg-8">
                        <div id="question-{2}" class="form-group">
                            <textarea rows="6" class="form-control" name="question-{2}" placeholder="{3}" {4}></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-quiz-radio-option" type="text/plain" language="text">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" title="{1}" name="question-{2}" value="{3}" {4}>{1}
                </label>
            </div>
        </div>
    </script>
    <script id="template-quiz-radio" type="text/plain" language="text">
        <!-- Radio Boxes -->
        <div class="question-block">
            <div class="row">
                <span class="question-title col-xs-12">
                    {1}
                </span>
            </div>
            <div class="question-answer">
                <div class="row option-list">

                </div>
            </div>
        </div>
    </script>
    <script id="template-quiz-checkbox-option" type="text/plain" language="text">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" title="{1}" name="question-{2}" value="{3}" {4}>{1}
                </label>
            </div>
        </div>
    </script>
    <script id="template-quiz-checkbox" type="text/plain" language="text">
        <!-- Checkboxes -->
        <div class="question-block">
            <div class="row">
                <span class="question-title col-xs-12">
                    {1}
                </span>
            </div>
            <div class="question-answer">
                <div class="row option-list">

                </div>
            </div>
        </div>
    </script>
    <script id="template-quiz-dropdown" type="text/plain" language="text">
        <!-- Dropdown list -->
        <div class="question-block">
            <div class="row">
                <span class="question-title col-xs-12">
                    {1}
                </span>
            </div>
            <div class="question-answer">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-lg-8">
                        <div class="form-group">
                            <select class="form-control option-list" name="question-{2}" {4}>
                                {3}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/student/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active"><a id="nav-title">Questionnaire</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="quiz">
        <form id="quiz-form" th:action="@{/student/questionnaire/submit}" method="post">
            <input id="quiz-id" type="hidden" name="id_quiz" value="">

            <div class="quiz-well">
                <button type="button" class="btn btn-default quiz-close">
                    Exit Survey
                </button>
                <div class="quiz-title"></div>
            </div>

            <div class="quiz-body">

            </div>

            <div class="quiz-footer">
                <div class="quiz-actions">
                    <button id="quiz-submit" type="button" class="btn btn-success">
                        Submit Survey
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>

</body>
</html>
