<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Quiz</title>

    <!-- script -->
    <script>
        // global variable
        var id_quiz = null;

        $(document).ready(function () {

            var quizButtonHtlm = $('#block-quiz-button').text();

            $.ajax({ url: "/api/quiz/student", success: function(data) {

                var html = "";

                data.quizzes.forEach(function(quiz) {
                    html += quizButtonHtlm
                        .replace("{quizId}", questionnaire.id)
                        .replace("{quizName}", questionnaire.name);
                });

                $('#search-quiz-list').html(html);
            }
            });
        });

        function selectQuiz(div) {

            $('#search-quiz-list button').removeClass('btn-primary');
            $(div).addClass('btn-primary');

            id_quiz = $(div).data('quizid')

            $.ajax({ url: "/api/quiz/"+id_quiz, success: function(quiz) {

                var html = $('#block-quiz-detail').text().replace('{quizName}', questionnaire.name);

                var questionHtml = "";

                questionnaire.questions.forEach(function(question) {

                    questionHtml += questionToHtml(question);
                });

                html = html.replace('{quizQuestions}', questionHtml);

                $('#quiz-detail').html(html);

            }});
        }

        function questionToHtml(question) {

            console.log(question);

            var html = "";

            switch (question.id_question_type) {

                case 1:  // Short Answer
                    html =  $('.block-quiz-question[data-questiontypeid="1"]').text();
                    break;

                case 2: // Paragraph
                    html =  $('.block-quiz-question[data-questiontypeid="2"]').text();
                    break;

                case 3: // Radio Boxes
                    html =  $('.block-quiz-question[data-questiontypeid="3"]').text();

                    var optionHtml = $('.block-quiz-option[data-questiontypeid="3"]').text();

                    var optionsHtml = "";

                    question.parameters['user-options'].forEach(function (option) {

                        optionsHtml += optionHtml
                            .replace('{questionName}', 'option-'+question.id)
                            .replace('{optionId}', option.name.split('-')[2])
                            .replace('{optionName}', option.value);
                    });

                    html = html.replace('{questionOptions}', optionsHtml);

                    break;

                case 4: // Check Boxes
                    html =  $('.block-quiz-question[data-questiontypeid="4"]').text();

                    var optionHtml = $('.block-quiz-option[data-questiontypeid="4"]').text();

                    var optionsHtml = "";

                    question.parameters['user-options'].forEach(function (option) {

                        optionsHtml += optionHtml
                            .replace('{optionId}', option.name.split('-')[2])
                            .replace('{optionName}', option.value);
                    });

                    html = html.replace('{questionOptions}', optionsHtml);

                    break;

                case 5: // Dropdown List
                    html =  $('.block-quiz-question[data-questiontypeid="5"]').text();

                    var optionHtml = $('.block-quiz-option[data-questiontypeid="5"]').text();

                    var optionsHtml = "";

                    question.parameters['user-options'].forEach(function (option) {

                        var id_option = option.name.split('-')[2];

                        optionsHtml += optionHtml
                            .replace('{optionId}', id_option)
                            .replace('{optionName}', option.value);

                        if (question.parameters['user-default'].indexOf(id_option) != -1) {
                            optionHtml.replace('{questionOptionSelected}', 'selected')
                        }
                    });

                    html = html.replace('{questionOption}', optionsHtml);

                    break;
            }

            html = html
                .replace('{questionName}', question.name)
                .replace('{questionId}', question.id);

            return html;
        }
        
        function submitForm() {


            var questionsDetails = [];

            $('#form .question-form').each(function () {

                // console.log($(this));

                var questionDetail = {
                    'id_question': $(this).data('questionid')
                };

                switch ($(this).data('questiontypeid')) {

                    case 1: // Short Answer

                        questionDetail['text'] = $(this).find('textarea').val();

                        break;

                    case 2: // Paragraph

                        questionDetail['text'] = $(this).find('textarea').val();

                        break;

                    case 3: // Radio Boxes

                        questionDetail['parameters'] = parseInt($(this).find('input:checked').val())    ;

                        break;

                    case 4: // Check Boxes

                        var parameters = [];

                        $(this).find('input:checked').each(function() {
                            parameters.push(parseInt($(this).val()));
                        });

                        questionDetail['parameters'] = parameters;

                        break;

                    case 5: // Dropdown List

                        questionDetail['parameters'] = parseInt($(this).find('option:selected').val());

                        break;
                }

                questionsDetails.push(questionDetail);

            });

            var dataAnswers = {
                'questions': questionsDetails,
                'id_quiz': id_quiz
            };

            console.log(JSON.stringify(dataAnswers));

            $.ajax({
                url: '/api/answer/quiz',
                data: JSON.stringify(dataAnswers),
                success: swal("Quiz send", "success", "success")
            });
        }

    </script>

    <!-- HTML component -->
    <script id="block-quiz-button" type="text/html" >
        <button type="button" class="btn btn-default btn-block question-button" data-quizid="{quizId}" onclick="selectQuiz(this)">
            {quizName}
            <span class="glyphicon glyphicon-chevron-right btn-icon float-right"></span>
        </button>
    </script>

    <!-- main panel -->
    <script id="block-quiz-detail" type="text/html" >
        <div class="col-sm-8">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>{quizName}</h3>
                    </div>
                    <div id="form">
                        {quizQuestions}
                        <br/>

                        <div class="text-right">
                            <button class="btn btn-success" onclick="submitForm()">Send</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Short Answer -->
    <script class="block-quiz-question" data-questiontypeid="1" type="text/html" >
        <div class="question-form" data-questionid="{questionId}" data-questiontypeid="1">
            <h3>{questionName}</h3>
            <textarea rows="3" class="form-control"></textarea>
        </div>
    </script>

    <!-- Paragraph -->
    <script class="block-quiz-question" data-questiontypeid="2" type="text/html" >
        <div class="question-form" data-questionid="{questionId}" data-questiontypeid="2">
            <h3>{questionName}</h3>
            <textarea rows="6" class="form-control"></textarea>
        </div>
    </script>

    <!-- Radio Boxes -->
    <script class="block-quiz-question" data-questiontypeid="3" type="text/html" >
        <div class="question-form" data-questionid="{questionId}" data-questiontypeid="3">
            <h3>{questionName}</h3>
            {questionOptions}
        </div>
    </script>
    <!-- Radio Boxes option -->
    <script class="block-quiz-option" data-questiontypeid="3" type="text/html">
        <div class="radio">
            <label><input type="radio" name="{questionName}" value="{optionId}">{optionName}</label>
        </div>
    </script>

    <!-- Check Boxes -->
    <script class="block-quiz-question" data-questiontypeid="4" type="text/html" >
        <div class="question-form" data-questionid="{questionId}" data-questiontypeid="4">
            <h3>{questionName}</h3>
            {questionOptions}
        </div>
    </script>
    <!-- Check Boxes option -->
    <script class="block-quiz-option" data-questiontypeid="4" type="text/html">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="{optionId}">
                {optionName}
            </label>
        </div>
    </script>

    <!-- Dropdown List -->
    <script class="block-quiz-question" data-questiontypeid="5" type="text/html" >
        <div class="question-form" data-questionid="{questionId}" data-questiontypeid="5">
            <h3>{questionName}</h3>
            <select class="form-control" {questionOptionSelected}>
                {questionOption}
            </select>
        </div>
    </script>
    <!-- Dropdown option -->
    <script class="block-quiz-option" data-questiontypeid="5" type="text/html">
        <option value="{optionId}" {optionSelected}>{optionName}</option>
    </script>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand header-brand" th:href="@{/student/index}" layout:fragment="nav-header">
                    <img class="header-icon" th:src="@{/img/roux.png}" src="">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" layout:fragment="nav-content">
                    <li><a th:href="@{/student/group}">Group</a></li>
                    <li class="active"><a th:href="@{/student/questionnaire}">Questionnaire</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div layout:fragment="container">

        <div class="row roux-row">

            <!-- Question List Panel -->
            <div class="col-sm-4">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body">

                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input type="text" id="search-question" class="form-control" placeholder="Search question">
                        </div>
                        <br>

                        <div class="scroll-list">
                            <div class="scroll-list-question">
                                <div id="search-quiz-list" class="quiz-button-list"></div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>

            <div id="quiz-detail"></div>
        </div>

    </div>

</body>
</html>
