<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Group</title>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet">
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/bootstrap-notify.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/roux-api.js}"></script>
    <script>

        $(function () {

            // DOM Binding
            {
                var registerDatepicker = function () {
                    $(".select-date").datepicker({
                        format: 'dd/mm/yyyy'
                    }).on("changeDate", changeDateCallback);
                };
                var changeDateCallback = function () {

                    var input = $(this);
                    input.datepicker('hide');

                    var session_id = input.data('id');
                    var date_string = input.val();

                    // var notify = $.notify('<strong>Saving...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    API.changeSessionDate(function (data) {
                        if (data['result'] !== 'succeed') {
                            swal("Oops...", data['error'], "error");
                        }
                    }, session_id, date_string);

                    // TEST
                    window.setTimeout(
                        function () {
                            // notify.close();
                            UI.allowsUserInteraction(true);
                        }, 200);
                };
                var createSessionElement = function (sessionObj) {
                    var prototype;
                    var session_panel_list = $(".session-panel-list");
                    if (sessionObj['comment'].length) {
                        prototype = UI.prototype('pt-session-panel-with-note').clone(true, true);
                    } else {
                        prototype = UI.prototype('pt-session-panel').clone(true, true);
                    }
                    prototype.data('id', sessionObj['id']);
                    prototype.find('.session-panel-title').text(sessionObj['name']);
                    prototype.find('.select-date').val(sessionObj['date']);
                    prototype.find('.select-date').data('id', sessionObj['id']);
                    var prototype_button = prototype.find('[name=view-session-note], [name=create-session-note]');
                    prototype_button.data('id', sessionObj['id']);
                    prototype_button.data('title', sessionObj['name']);
                    var delete_button = prototype.find('.session-title-button');
                    delete_button.data('id', sessionObj['id']);
                    session_panel_list.prepend(prototype);
                };
                var loadGroupData = function (data) {
                    var selected_student_button_list = $(".selected-student-button-list");
                    selected_student_button_list.empty();
                    var selected_ids = [];
                    $(".group-title").data('id', data['id']);
                    data['selected_student'].forEach(function (studentObj) {
                        var prototype = UI.prototype('pt-selected-student-button').clone(true, true);
                        prototype.text(studentObj['name']);
                        prototype.data('id', studentObj['id']);
                        prototype.data('action', 'unselect');
                        prototype.append('<span class="glyphicon glyphicon-remove btn-icon float-right"></span>');
                        selected_student_button_list.append(prototype);
                        selected_ids.push(studentObj['id']);
                    });
                    $(".student-button-list .student-button").each(function () {
                        var selectStudentButton = function (button, select) {
                            if (select) {
                                button.removeClass("btn-default");
                                button.find("span").remove();
                                button.addClass("btn-success");
                                button.append('<span class="glyphicon glyphicon-ok btn-icon float-right"></span>');
                            } else {
                                button.removeClass("btn-success");
                                button.find("span").remove();
                                button.addClass("btn-default");
                                button.append('<span class="glyphicon glyphicon-plus btn-icon float-right"></span>');
                            }
                        };
                        if (selected_ids.indexOf($(this).data('id')) >= 0) {
                            selectStudentButton($(this), true);
                        } else {
                            selectStudentButton($(this), false);
                        }
                    });
                    var session_panel_list = $(".session-panel-list");
                    session_panel_list.empty();
                    data['session_list'].forEach(function (sessionObj) {
                        createSessionElement(sessionObj);
                    });
                    registerDatepicker();
                };
                var loadGroupList = function (data) {
                    var group_button_list = $(".group-button-list");
                    group_button_list.empty();
                    data['group_list'].forEach(function (groupObj) {
                        var prototype = UI.prototype('pt-group-button').clone(true, true);
                        prototype.text(groupObj['name']);
                        prototype.data('id', groupObj['id']);
                        group_button_list.append(prototype);
                    });
                    if (data['group_list'].length) {
                        selectGroup(data['group_list'][0]['id']);
                    }
                };
                var selectGroup = function (group_id) {
                    $(".group-button-list .group-button").each(function () {
                        if ($(this).data('id') === group_id) {
                            $(this).click();
                        }
                    });
                };
                var deleteGroup = function (group_id) {
                    $(".group-button-list").children().each(function () {
                        if ($(this).data('id') === group_id) {
                            $(this).remove();
                        }
                    });
                };
                var deleteSession = function (session_id) {
                    $(".session-panel-list").children().each(function () {
                        if ($(this).data('id') === session_id) {
                            $(this).remove();
                        }
                    });
                };

                // Search TextField Event
                {
                    var search_events = "change paste keyup";

                    // Search Group
                    $("#input-group-search").on(search_events, function () {
                        var list = $(".group-button-list .group-button");
                        var search_substring = $(this).val();
                        $.each(list, function (index, button) {
                            if ($(button).text().indexOf(search_substring) >= 0) {
                                $(button).show();
                            } else {
                                $(button).hide();
                            }
                        });
                    });

                    // Search All Students
                    $("#input-all-student-search").on(search_events, function () {
                        var list = $(".student-button-list .student-button");
                        var search_substring = $(this).val();
                        $.each(list, function (index, button) {
                            if ($(button).text().indexOf(search_substring) >= 0) {
                                $(button).show();
                            } else {
                                $(button).hide();
                            }
                        });
                    });

                    // Search Selected Students
                    $("#input-selected-student-search").on(search_events, function () {
                        var list = $(".selected-student-button-list .student-button");
                        var search_substring = $(this).val();
                        $.each(list, function (index, button) {
                            if ($(button).text().indexOf(search_substring) >= 0) {
                                $(button).show();
                            } else {
                                $(button).hide();
                            }
                        });
                    });

                    // Search Sessions
                    $("#input-session-search").on(search_events, function () {
                        var list = $(".panel-session");
                        var search_substring = $(this).val();
                        $.each(list, function (index, panel) {
                            if ($.trim($(panel).find(".session-panel-title").text()).indexOf(search_substring) >= 0) {
                                $(panel).parent().css("display", "");
                            } else {
                                $(panel).parent().css("display", "none");
                            }
                        });
                    });
                }

                // New Group Pop-up
                $('[name=create-new-group]').click(function (e) {

                    var group_name_field = $("input[name=group-name]");
                    var new_group_name = group_name_field.val();
                    if (new_group_name.length <= 0) {
                        e.preventDefault();
                        return;
                    }

                    $('#new-group-popup').modal('hide');
                    group_name_field.val("");

                    var notify = $.notify('<strong>Saving...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    API.createGroup(function (data) {
                        if (data['result'] === 'succeed') {
                            var group_button_list = $(".group-button-list");
                            var prototype = UI.prototype('pt-group-button').clone(true, true);
                            prototype.text(data['group']['name']);
                            prototype.data('id', data['group']['id']);
                            group_button_list.prepend(prototype);

                            notify.update({
                                type: 'success',
                                message: '<strong>Succeed!</strong> New group has been created!'
                            });
                        } else {
                            swal("Oops...", data['error'], "error");
                        }
                        selectGroup(data['group']['id']);
                    }, new_group_name);

                    // TEST
                    window.setTimeout(
                        function () {
                            UI.allowsUserInteraction(true);
                        }, 200);

                });
                $('#new-group-popup').on('shown.bs.modal', function () {
                    // Auto Focus
                    $(this).find("input[name=group-name]").focus();
                });
                {
                    var group_name_field = $("input[name=group-name]");
                    group_name_field.on("change paste keyup", function () {
                        $("[name=create-new-group]").attr('disabled', $.trim($(this).val()).length <= 0);
                    });
                    group_name_field.on("keypress", function () {
                        if (event.which === 13) {
                            if ($.trim($(this).val()).length > 0) {
                                $("[name=create-new-group]").click();
                            }
                        }
                    });
                }

                // Select Group
                $(".group-button").click(function () {
                    var selectGroupButton = function (button, select) {
                        if (select) {
                            var allButtons = $(".group-button");
                            allButtons.removeClass("btn-primary");
                            allButtons.addClass("btn-default");
                            button.addClass("btn-primary");
                        }
                    };

                    var button = $(this);
                    if (button.hasClass("btn-primary")) {
                        return;
                    } else {
                        selectGroupButton(button, true);
                        $(".group-title").text(button.text());
                    }

                    var action = button.data('action');
                    var group_id = button.data('id');

                    // var notify = $.notify('<strong>Loading...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    if (action === 'select') {
                        API.getGroupData(loadGroupData, group_id);
                    }

                    // TEST
                    window.setTimeout(
                        function () {
                            // notify.close();
                            UI.allowsUserInteraction(true);
                        }, 200);

                });

                // Select & Unselect Student
                $('.student-button').click(function () {

                    var button = $(this);

                    var action = button.data('action');
                    if (!action) {
                        return;
                    }

                    var student_id = button.data('id');
                    var group_id = $(".group-title").data('id');

                    // var notify = $.notify('<strong>Saving...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    API.selectStudent(function (data) {
                        if (data['result'] !== 'succeed') {
                            swal("Oops...", data['error'], "error");
                        }
                    }, group_id, student_id, action === 'select');
                    API.getGroupData(loadGroupData, group_id);

                    // TEST
                    window.setTimeout(
                        function () {
                            // notify.close();
                            UI.allowsUserInteraction(true);
                        }, 200);

                });

                // New Session Pop-up
                $(".panel-session-add").click(function () {
                    $("#new-session-popup").modal('show');
                });
                $('#new-session-popup').on('shown.bs.modal', function () {
                    $(this).find("input[name=session-name]").focus();
                });
                $("[name=create-new-session]").click(function (e) {

                    var new_session_name = $("input[name=session-name]").val();
                    if (new_session_name.length <= 0) {
                        e.preventDefault();
                        return;
                    }

                    $('#new-session-popup').modal('hide');

                    var group_id = $(".group-title").data('id');
                    var notify = $.notify('<strong>Saving...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    API.createSession(function (data) {
                        if (data['result'] === 'succeed') {
                            createSessionElement(data['session']);
                        }
                        registerDatepicker();
                    }, group_id, new_session_name);

                    // TEST
                    window.setTimeout(
                        function () {
                            // Perform UI updates
                            notify.update({
                                type: 'success',
                                message: '<strong>Succeed!</strong> New session has been created!'
                            });
                            UI.allowsUserInteraction(true);
                        }, 200);

                });
                {
                    var session_name_field = $("input[name=session-name]");
                    session_name_field.on("change paste keyup", function () {
                        $("[name=create-new-session]").attr('disabled', $(this).val().length <= 0);
                    });
                    session_name_field.on("keypress", function () {
                        if (event.which === 13) {
                            if ($.trim($(this).val()).length > 0) {
                                $("[name=create-new-session]").click();
                            }
                        }
                    });
                }

                // Evaluation Pop-up
                $('[name=view-session-note], [name=create-session-note]').click(function () {

                    // Button that triggered the modal
                    var button = $(this);
                    // Extract info from data-* attributes
                    var action = button.data('action');
                    var session_id = button.data('id');
                    var session_title = button.data('title');
                    // Update modal content
                    var text_action;
                    if (action === 'create') {
                        text_action = 'Create';
                    } else if (action === 'view') {
                        text_action = 'View';
                    }
                    var modal = $('#evaluation-popup');
                    modal.find('#session-title').text(text_action + ' Evaluation for ' + session_title);
                    modal.find('[name=session-save-changes]').data('id', session_id);

                    if (action === 'view') {
                        // var notify = $.notify('<strong>Loading...</strong>', {allow_dismiss: false});

                        UI.allowsUserInteraction(false);

                        API.getSessionDetail(function (data) {
                            modal.find("#rate-r" + data['rate']).prop('checked', true);
                            modal.find("textarea[name=comment-area]").text(data['comment']);
                            modal.modal('show');
                        }, session_id);

                        // TEST
                        window.setTimeout(
                            function () {
                                // notify.close();
                                UI.allowsUserInteraction(true);
                            }, 200);
                    } else {
                        // Reset modal content
                        modal.find("#rate-r5").prop('checked', true);
                        modal.find("textarea[name=comment-area]").text('');
                        modal.modal('show');
                    }
                });
                $('[name=session-save-changes]').click(function () {
                    $('#evaluation-popup').modal('hide');

                    var session_id = $(this).data('id');
                    var selected_rate = $("input[name=rate-group]:checked").val();
                    var comment_content = $("textarea[name=comment-area]").text();
                    // alert(comment_content);

                    var notify = $.notify('<strong>Saving...</strong>', {allow_dismiss: false});

                    UI.allowsUserInteraction(false);

                    API.editSessionDetail(function (data) {
                        if (data['result'] === 'succeed') {
                            notify.update({
                                type: 'success',
                                message: '<strong>Succeed!</strong> Your changes has been saved!'
                            });
                        } else {
                            swal("Oops...", data['error'], "error");
                        }
                    }, session_id, selected_rate, comment_content);

                    // TEST
                    window.setTimeout(
                        function () {
                            UI.allowsUserInteraction(true);
                        }, 200);
                });
                $('#evaluation-popup').on('shown.bs.modal', function () {
                    // Auto Focus
                    $(this).find("textarea[name=comment-area]").focus();
                });

                // Delete Group
                $(".title-button").click(function () {
                    swal({
                        title: "Are you sure?",
                        text: "All selected students and sessions will be deleted! \n" +
                        "You will not be able to revoke this operation!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false,
                        html: false
                    }, function () {
                        var group_id = $(".group-title").data('id');

                        UI.allowsUserInteraction(false);
                        API.deleteGroup(function (data) {
                            if (data['result'] === 'succeed') {
                                deleteGroup(data['group']['id']);
                                swal("Deleted!",
                                    "This group has been deleted.",
                                    "success");
                                API.getGroupList(loadGroupList);
                            }
                        }, group_id);
                        UI.allowsUserInteraction(true);
                    });
                });

                // Delete Session
                $(".session-title-button").click(function () {
                    var session_id = $(this).data('id');
                    swal({
                        title: "Are you sure?",
                        text: "The session and its evaluation will be deleted! \n" +
                        "You will not be able to revoke this operation!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false,
                        html: false
                    }, function () {
                        UI.allowsUserInteraction(false);
                        API.deleteSession(function (data) {
                            if (data['result'] === 'succeed') {
                                deleteSession(session_id);
                                swal("Deleted!",
                                    "This session has been deleted.",
                                    "success");
                            }
                        }, session_id);
                        UI.allowsUserInteraction(true);
                    });
                });

            }

            // Init new UI
            UI.init();

            // Page initial load
            API.getStudentList(function (data) {
                var student_button_list = $(".student-button-list");
                student_button_list.empty();
                data['student_list'].forEach(function (studentObj) {
                    var prototype = UI.prototype('pt-student-button').clone(true, true);
                    prototype.text(studentObj['name']);
                    prototype.data('id', studentObj['id']);
                    prototype.data('action', 'select');
                    prototype.append('<span class="glyphicon glyphicon-plus btn-icon float-right"></span>');
                    student_button_list.append(prototype);
                });
            });
            API.getGroupList(loadGroupList);

        });

    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/teacher/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active" id="nav_sect_group"><a th:href="@{/teacher/groupe}">Group</a></li>
                <li id="nav_sect_question"><a th:href="@{/teacher/question}">Question</a></li>
                <li id="nav_sect_questionnaire"><a th:href="@{/teacher/questionnaire}">Questionnaire</a></li>
                <li id="nav_sect_statistics"><a th:href="@{/teacher/statistics}">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="row roux-row">

        <!-- Group Panel -->
        <div class="col-md-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="input-group-search" class="form-control"
                               placeholder="Search group"
                        >
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-group">
                            <button type="button" class="btn btn-success btn-block"
                                    data-toggle="modal" data-target="#new-group-popup">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                            <hr>
                            <button type="button" class="prototype btn btn-default btn-block group-button"
                                    id="pt-group-button"
                                    data-id="1"
                                    data-action="select">
                                N/A
                            </button>
                            <div class="group-button-list"></div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <!-- Group Title -->
        <div class="col-md-8">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">
                    <span class="group-title" data-id="">N/A</span>
                    <span class="glyphicon glyphicon-trash title-button float-right"></span>
                </div>
            </div>
        </div>

        <!-- All Students Panel -->
        <div class="col-md-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="input-all-student-search" class="form-control"
                               placeholder="All students">
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-all-student">
                            <button type="button" class="prototype btn btn-default btn-block student-button"
                                    id="pt-student-button"
                                    data-id="1">
                                Student 1
                                <span class="glyphicon glyphicon-ok btn-icon float-right"></span>
                            </button>
                            <div class="student-button-list">
                                <!--
                            {% for stuid in "2345678" %}
                                <button type="button" class="btn btn-default btn-block student-button"
                                        data-id="{{ stuid }}"
                                        data-action="select">
                                    Student {{ stuid }}
                                    <span class="glyphicon glyphicon-plus btn-icon float-right"></span>
                                </button>
                            {% endfor %}
                            -->
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <!-- Selected Students Panel -->
        <div class="col-md-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="input-selected-student-search" class="form-control"
                               placeholder="Selected students">
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-selected-student">
                            <button type="button" class="prototype btn btn-default btn-block student-button"
                                    id="pt-selected-student-button"
                                    data-id="1"
                                    data-action="unselect">
                                Student 1
                                <span class="glyphicon glyphicon-remove btn-icon float-right"></span>
                            </button>
                            <div class="selected-student-button-list"></div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <!-- Session Panel -->
        <div class="col-md-8">
            <div class="panel panel-default roux-panel">

                <div class="panel-heading">
                    <h3 class="session-panel-title">Session</h3>
                </div>

                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="input-session-search" class="form-control"
                               placeholder="Search session">
                    </div>
                    <br>

                    <div class="row session-row">

                        <!-- Add Session Sub Panel -->
                        <div class="col-md-4">
                            <div class="panel panel-default roux-panel panel-session-add">
                                <div class="panel-body">
                                    <div class="panel-session-wrap">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <br>Add session
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 prototype"
                             id="pt-session-panel"
                             data-id="">
                            <div class="panel panel-success roux-panel panel-session">
                                <div class="panel-heading">
                                    <h3 class="session-panel-title">
                                        N/A
                                    </h3>
                                    <span class="glyphicon glyphicon-trash session-title-button float-right"></span>
                                </div>
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control select-date"
                                               title=""
                                               data-id=""
                                               readonly>
                                        <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-success btn-block"
                                            name="create-session-note"
                                            data-action="create"
                                            data-id=""
                                            data-title="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Create Note
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 prototype"
                             id="pt-session-panel-with-note"
                             data-id="">
                            <div class="panel panel-default roux-panel panel-session">
                                <div class="panel-heading">
                                    <h3 class="session-panel-title">
                                        N/A
                                    </h3>
                                    <span class="glyphicon glyphicon-trash session-title-button float-right"></span>
                                </div>
                                <div class="panel-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control select-date"
                                               title=""
                                               data-id=""
                                               readonly>
                                        <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-default btn-block"
                                            name="view-session-note"
                                            data-action="view"
                                            data-id=""
                                            data-title="">
                                        <span class="glyphicon glyphicon-search"></span>
                                        View Note
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="session-panel-list"></div>

                    </div>
                    <br>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal (Pop-up) Session Add -->
    <div class="modal fade" id="new-session-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">New Session</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" name="session-name" placeholder="Session Name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help"><span
                                    class="glyphicon glyphicon-question-sign"></span></button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                            name="create-new-session" disabled>Save
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal (Pop-up) Group Add -->
    <div class="modal fade" id="new-group-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">New Group</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" name="group-name" placeholder="Group Name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help"><span
                                    class="glyphicon glyphicon-question-sign"></span></button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                            name="create-new-group" disabled>Save
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal (Pop-up) Evaluation -->
    <div class="modal fade" id="evaluation-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="session-title">Evaluation Pop-up</h4>
                </div>

                <div class="modal-body">

                    <!-- Rate Input -->
                    <div class="input-group">
                        <h4>
                            <span class="glyphicon glyphicon-edit"></span>
                            Rate for the session:
                        </h4>
                    </div>

                    <div class="rate-input">
                        <div class="rate-button rate-button-r1">
                            <input id="rate-r1" type="radio" name="rate-group" class="rate-radio" value="r1"/>
                            <label for="rate-r1">1</label>
                        </div>
                        <div class="rate-button rate-button-r2">
                            <input id="rate-r2" type="radio" name="rate-group" class="rate-radio" value="r2"/>
                            <label for="rate-r2">2</label>
                        </div>
                        <div class="rate-button rate-button-r3">
                            <input id="rate-r3" type="radio" name="rate-group" class="rate-radio" value="r3"/>
                            <label for="rate-r3">3</label>
                        </div>
                        <div class="rate-button rate-button-r4">
                            <input id="rate-r4" type="radio" name="rate-group" class="rate-radio" value="r4"/>
                            <label for="rate-r4">4</label>
                        </div>
                        <div class="rate-button rate-button-r5">
                            <input id="rate-r5" type="radio" name="rate-group" class="rate-radio" value="r5"/>
                            <label for="rate-r5">5</label>
                        </div>
                    </div>

                    <!-- Comment Input -->
                    <div class="input-group">
                        <h4>
                            <span class="glyphicon glyphicon-edit"></span>
                            Comment on the session:
                        </h4>
                    </div>

                    <div class="comment-input">
                        <textarea name="comment-area" class="form-control" rows="6" title=""></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            name="session-save-changes"
                            data-id="">Save changes
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Ajax Overlay -->
    <div class="overlay" style="z-index: 200;"></div>

</div>

</body>
</html>
