<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Group</title>
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}">
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script>

        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            var APIConnection = {
                errorHandler: function (responseData) {
                    if (responseData && responseData["error"]) {
                        swal("Oops...", responseData['error'], "error");
                    }
                }
            };

            var Storage = {
                workspace: $(".group-detail"), // div
                groupTitle: $(".group-title"), // input val()
                selectedGroupId: null
            };
            var Workspace = {
                // "selected_group_id": 1

                setGroupTitle: function (title) {
                    Storage.groupTitle.val(title);
                },
                
                setSelectedGroup: function (group_id) {
                    Storage.selectedGroupId = group_id;
                    if (group_id) {

                    } else {
                        Storage.workspace.hide();
                    }
                }

            };

            {

                console.log("bind search input");

                var BindSearchPair = function (input_s, list_s, where_s) {
                    $(input_s).on("change keyup paste", function () {
                        var sc = $(this).val();
                        $(list_s).each(function () {
                            var e = $(this);
                            var st;
                            if (where_s !== null) st = e.text();
                            else st = $(this).find(where_s).text();
                            if (st.indexOf(sc) !== -1) e.show();
                            else e.hide();
                        });
                    });
                };

                // search-group -> search-group-list -> button
                // search-student -> search-student-list -> button
                BindSearchPair("#search-group", "#search-group-list > button", null);
                BindSearchPair("#search-student", "#search-student-list > button", null);
                BindSearchPair("#search-selected-student", "#search-selected-student-list > button", null);
                BindSearchPair("#search-session", "#search-session-list > div", "h3");

            }

            {

                console.log("bind modal event")

                // modal-new-group
                // modal-new-session

            }

        });

    </script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/teacher/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li class="active"><a th:href="@{/teacher/group}">Group</a></li>
                <li><a th:href="@{/teacher/question}">Question</a></li>
                <li><a th:href="@{/teacher/questionnaire}">Questionnaire</a></li>
                <li><a th:href="@{/teacher/statistics}">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="row roux-row">

        <!-- Group Panel -->
        <div class="col-sm-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input id="search-group" type="text" class="form-control" placeholder="Search group">
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-group">
                            <button id="modal-new-group" type="button" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                            <hr>
                            <div id="search-group-list" class="group-button-list">

                                <button type="button" class="btn btn-default btn-block group-button">
                                    N/A
                                </button>

                                <button type="button" class="btn btn-primary btn-block group-button">
                                    N/A
                                </button>

                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <div class="group-detail" style="display: none;">

            <!-- Group Title -->
            <div class="col-sm-8">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body group-header">

                        <div class="row">

                        </div>

                        <input class="group-title" type="text" placeholder="Untitled Group">
                        <span class="glyphicon glyphicon-trash title-button float-right"></span>

                    </div>
                </div>
            </div>

            <!-- All Students Panel -->
            <div class="col-sm-4">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body">

                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input id="search-student" type="text" class="form-control" placeholder="All students">
                        </div>
                        <br>

                        <div class="scroll-list">
                            <div class="scroll-list-all-student">
                                <div id="search-student-list" class="student-button-list">

                                    <button type="button" class="btn btn-default btn-block student-button">
                                        Student 1
                                        <span class="glyphicon glyphicon-plus btn-icon float-right"></span>
                                    </button>

                                    <button type="button" class="btn btn-success btn-block student-button">
                                        Student 2
                                        <span class="glyphicon glyphicon-ok btn-icon float-right"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>

            <!-- Selected Students Panel -->
            <div class="col-sm-4">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body">

                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input id="search-selected-student" type="text" class="form-control"
                                   placeholder="Selected students">
                        </div>
                        <br>

                        <div class="scroll-list">
                            <div class="scroll-list-selected-student">
                                <div id="search-selected-student-list" class="selected-student-button-list">
                                    <button type="button" class="btn btn-default btn-block student-button">
                                        Student 1
                                        <span class="glyphicon glyphicon-remove btn-icon float-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>

            <!-- Session Panel -->
            <div class="col-sm-8">
                <div class="panel panel-default roux-panel">

                    <div class="panel-heading">
                        <h3 class="session-panel-title">Session</h3>
                    </div>

                    <div class="panel-body">

                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input id="search-session" type="text" class="form-control"
                                   placeholder="Search session">
                        </div>
                        <br>

                        <div class="row session-row">

                            <!-- Add Session Sub Panel -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="panel panel-default roux-panel panel-session-add">
                                    <div class="panel-body">
                                        <div class="panel-session-wrap">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <br>Add session
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="search-session-list" class="session-panel-list">

                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="panel panel-success roux-panel panel-session">
                                        <div class="panel-heading">
                                            <h3 class="session-panel-title">
                                                N/A
                                            </h3>
                                            <span class="glyphicon glyphicon-trash session-title-button float-right"></span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="input-group">
                                                <input type="text" class="form-control select-date" readonly title="">
                                                <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                            </div>
                                            <br>
                                            <button type="button" class="btn btn-success btn-block">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                Create Note
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="panel panel-default roux-panel panel-session">
                                        <div class="panel-heading">
                                            <h3 class="session-panel-title">
                                                N/A
                                            </h3>
                                            <span class="glyphicon glyphicon-trash session-title-button float-right"></span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="input-group">
                                                <input type="text" class="form-control select-date" readonly title="">
                                                <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                            </div>
                                            <br>
                                            <button type="button" class="btn btn-default btn-block">
                                                <span class="glyphicon glyphicon-search"></span>
                                                View Note
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <br>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Modal (Pop-up) Session Add -->
    <div class="modal fade" id="new-session-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">New Session</h4>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Session Name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help"><span
                                    class="glyphicon glyphicon-question-sign"></span></button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" disabled>Save
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal (Pop-up) Evaluation -->
    <div class="modal fade" id="evaluation-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Evaluation Pop-up</h4>
                </div>

                <div class="modal-body">

                    <!-- Rate Input -->
                    <div class="input-group">
                        <h4>
                            <span class="glyphicon glyphicon-edit"></span>
                            Rate for the session:
                        </h4>
                    </div>

                    <div class="rate-input">
                        <div class="rate-button rate-button-r1">
                            <input id="rate-r1" type="radio" name="rate-group" class="rate-radio" value="1"/>
                            <label for="rate-r1">1</label>
                        </div>
                        <div class="rate-button rate-button-r2">
                            <input id="rate-r2" type="radio" name="rate-group" class="rate-radio" value="2"/>
                            <label for="rate-r2">2</label>
                        </div>
                        <div class="rate-button rate-button-r3">
                            <input id="rate-r3" type="radio" name="rate-group" class="rate-radio" value="3"/>
                            <label for="rate-r3">3</label>
                        </div>
                        <div class="rate-button rate-button-r4">
                            <input id="rate-r4" type="radio" name="rate-group" class="rate-radio" value="4"/>
                            <label for="rate-r4">4</label>
                        </div>
                        <div class="rate-button rate-button-r5">
                            <input id="rate-r5" type="radio" name="rate-group" class="rate-radio" value="5"/>
                            <label for="rate-r5">5</label>
                        </div>
                    </div>

                    <!-- Comment Input -->
                    <div class="input-group">
                        <h4>
                            <span class="glyphicon glyphicon-edit"></span>
                            Comment on the session:
                        </h4>
                    </div>

                    <div class="comment-input">
                        <textarea class="form-control" rows="6" title=""></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Ajax Overlay
    <div class="overlay" style="z-index: 200;"></div>
    -->
</div>

</body>
</html>
