<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Question</title>
    <script th:src="@{/js/roux-api.js}"></script>
    <script>
    $(function () {

        UI.init();

        UI.allowsUserInteraction(false);

        API.getQuestionList(function (data) {
            var question_button_list = $(".question-button-list");
            question_button_list.empty();
            data['question_list'].forEach(function (questionObj) {
                var prototype = UI.prototype('pt-question-button').clone(true, true);
                prototype.text(questionObj['title']);
                prototype.data('id', questionObj['id']);
                question_button_list.append(prototype);
            });
            if (data['question_list'].length) {

            }
        });

        UI.allowsUserInteraction(true);

    });
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/teacher/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li id="nav_sect_group"><a th:href="@{/teacher/group}">Group</a></li>
                <li class="active" id="nav_sect_question"><a th:href="@{/teacher/question}">Question</a></li>
                <li id="nav_sect_questionnaire"><a th:href="@{/teacher/questionnaire}">Questionnaire</a></li>
                <li id="nav_sect_statistics"><a th:href="@{/teacher/statistics}">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="row roux-row">

        <!-- Question List Panel -->
        <div class="col-md-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="input-question-search" class="form-control"
                               placeholder="Search Question">
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-question">
                            <button type="button" class="btn btn-success btn-block"
                                    data-toggle="modal" data-target="#new-group-popup">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                            <hr>
                            <button type="button" class="prototype btn btn-default btn-block question-button"
                                    id="pt-question-button"
                                    data-id="1"
                                    data-action="select">
                                N/A
                            </button>
                            <div class="question-button-list"></div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <!-- Question Panel -->
        <div class="col-md-8">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>

    <!-- Ajax Overlay -->
    <div class="overlay" style="z-index: 200;"></div>

</div>

</body>
</html>
