<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Questionnaire</title>
    <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/multiselect.js}"></script>
    <script>
        $(function () {
            // DOM Binding

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                getGroupList (callback) {
                    $.ajax("/api/groupe", {
                        success: callback
                    });
                }
                getQuestionList (callback) {
                    $.ajax("/api/question/teacher", {
                        success: callback
                    });
                }
                getQuizList (callback) {
                    $.ajax("/api/quiz/teacher", {
                        success: callback
                    });
                }
                addQuiz (callback, form_data) {
                    $.ajax("/api/quiz/add", {
                        data: JSON.stringify(form_data),
                        success: callback
                    });
                }
                getQuizQuestions (callback, quiz_id) {
                    $.ajax("/api/quiz/" + quiz_id.toString(), {
                        success: callback
                    });
                }
            }

            class QuizDetailController {

                constructor () {
                    this.DOM = {
                        quizView: $(".quiz-detail"),
                        quizTitleInput: $("#quiz-title-input"),
                        startAtInput: $("#quiz-start-at"),
                        endAtInput: $("#quiz-end-at"),
                        quizActiveOption: $("#quiz-active-option"),
                        quizDeleteButton: $("#quiz-delete-button"),
                        quizResetButton: $("#quiz-reset-button"),
                        quizPublishButton: $("#quiz-publish-button"),
                        quizRepeatFor: $("#quiz-repeat-for"),
                        quizTargetClass: $("#quiz-target-class"),
                        quizQuestionLeft: $("#question-selection"),
                        quizQuestionRight: $("#question-selection_to"),
                        quizQuestionData: null,
                        quizDetailData: null
                    };
                    this.bindEvent();
                    this.load();
                }

                load () {
                    document.APIService.getGroupList($.proxy(function (resp) {
                        console.log(resp);
                        const group_list = this.DOM.quizTargetClass;
                        if (resp["result"] === "succeed") {
                            const resp_group_list = resp["groupes"];
                            let options = '';
                            for (let i in resp_group_list) {
                                const resp_group = resp_group_list[i];
                                options = '<option value="' + resp_group['id'] + '">' + resp_group['name'] + '</option>' + options;
                            }
                            options = '<option value="0">Unassigned</option>' + options;
                            group_list.html(options);
                        }
                    }, this));
                    document.APIService.getQuestionList($.proxy(this.loadQuestionList, this));
                }

                bindEvent () {
                    const datetimePickerConfig = {
                        format: 'yyyy-mm-dd hh:ii',
                        initialDate: new Date(),
                        autoclose: true
                    };
                    const changeDateCallback = function () {
                    };
                    this.DOM.startAtInput.datetimepicker(datetimePickerConfig).on("changeDate", changeDateCallback);
                    this.DOM.endAtInput.datetimepicker(datetimePickerConfig).on("changeDate", changeDateCallback);
                    this.DOM.quizQuestionLeft.multiselect();
                    this.DOM.quizDeleteButton.click($.proxy(this.quizDeleteButtonClicked, this));
                    this.DOM.quizResetButton.click($.proxy(function (event) {
                        this.reset();
                    }, this));
                    this.DOM.quizPublishButton.click($.proxy(this.quizPublishButtonClicked, this));
                }

                hide () {
                    this.DOM.quizView.fadeOut(200);
                }

                show () {
                    this.DOM.quizView.fadeIn(200);
                }

                focusOnTitle () {
                    this.DOM.quizTitleInput.focus();
                }

                lockView (lock) {
                    this.DOM.quizView.find("input, select, button").each(function () {
                        if (typeof this.disabled !== "undefined") this.disabled = lock;
                    });
                }

                reset () {
                    this.DOM.quizActiveOption.prop("checked", true);
                    this.DOM.quizDetailData = null;
                    this.DOM.quizTitleInput.val("");
                    this.DOM.quizRepeatFor.val("1");
                    this.DOM.quizTargetClass.val("0");
                    this.DOM.startAtInput.datetimepicker('update', new Date());
                    this.DOM.endAtInput.datetimepicker('update', new Date(new Date().getTime() + (7 * 24 * 3600 * 1000)));
//                    this.DOM.quizQuestionLeft.html("");
                    this.DOM.quizQuestionRight.html("");
                    this.loadQuestionList(this.DOM.quizQuestionData);
                }

                quizDeleteButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    if (this.DOM.quizDetailData === null) { // new question
                        this.hide();
                        this.reset();
                    } else {
                        swal({
                            title: "Are you sure?",
                            text: "The question will be deleted! \n" +
                            "You will not be able to revoke this operation!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, delete it!",
                            closeOnConfirm: false,
                            html: false
                        }, $.proxy(function () {

                        }, this));
                    }
                }

                quizPublishButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const quiz_active = this.DOM.quizActiveOption.is(":checked");
                    const quiz_name = this.DOM.quizTitleInput.val();
                    if (quiz_name.length === 0) {
                        swal("Oops...", "The title of questionnaire cannot be empty.", "error");
                        return;
                    }
                    const quiz_id_groupe = parseInt(this.DOM.quizTargetClass.val());
                    if (quiz_id_groupe === 0) {
                        swal("Oops...", "The group of questionnaire is invalid.", "error");
                        return;
                    }
                    const quiz_date_start = this.DOM.startAtInput.val();
                    const quiz_date_end = this.DOM.endAtInput.val();
                    const quiz_repeat_for = parseInt(this.DOM.quizRepeatFor.val());
                    const quiz_questions_elem = this.DOM.quizQuestionRight.children();
                    const quiz_questions = [];
                    $.each(quiz_questions_elem, function (index, value) {
                        const input_value = $(value).val();
                        quiz_questions.push(parseInt(input_value));
                    });
                    if (quiz_questions.length === 0) {
                        swal("Oops...", "The questionnaire should contain at least 1 question.", "error");
                        return;
                    }
                    const quiz = {
                        "active": quiz_active,
                        "name": quiz_name,
                        "id_groupe": quiz_id_groupe,
                        "date_start": quiz_date_start,
                        "date_end": quiz_date_end,
                        "repeat_for": quiz_repeat_for,
                        "id_questions": quiz_questions
                    };
                    console.log(quiz);
                    document.APIService.addQuiz($.proxy(function (resp) {
                        if (resp["result"] === "succeed") {
                            swal("Saved!",
                                "This quiz has been saved.",
                                "success");
                            if (this.DOM.quizDetailData === null)
                            {
                                document.RootController.listController.load();
                            }
                            else
                            {
                                // Never
                            }
                        }
                    }, this), quiz);
                }

                loadQuestionList (resp) {
                    if (resp !== null) {
                        this.DOM.quizQuestionData = resp;
                        const question_list = this.DOM.quizQuestionLeft;
                        if (resp["result"] === "succeed") {
                            const resp_teacher_questions = resp["teacher_questions"];
                            let options = '';
                            for (let i in resp_teacher_questions) {
                                const resp_teacher_question = resp_teacher_questions[i];
                                options = '<option value="' + resp_teacher_question['id'] + '">' + resp_teacher_question['name'] + '</option>' + options;
                            }
                            question_list.html(options);
                        }
                    }
                }

                loadWithData (data) {
                    this.reset();
                    this.DOM.quizDetailData = data;
                    if (data && data["id"]) {
                        this.loadQuizForm(data);
                    }
                    this.show();
                }

                loadQuizForm (data) {
                    this.lockView(true);
                    document.APIService.getQuizQuestions($.proxy(function (resp) {
                        console.log(resp);
                        if (typeof resp["id"] !== 'undefined') {
                            this.DOM.quizTitleInput.val(resp["name"]);
                            this.DOM.quizActiveOption.prop("checked", resp["active"]);
                            this.DOM.quizTargetClass.val(resp["id_groupe"]);
                            this.DOM.startAtInput.val(resp["date_start"]);
                            this.DOM.endAtInput.val(resp["date_end"]);

                        }
                    }, this), data["id"]);
                }

            }

            class QuizListController {

                constructor () {
                    this.DOM = {
                        addQuizButton: $("#add-new-quiz"),
                        quizActiveList: $("#quiz-button-list-active"),
                        quizInactiveList: $("#quiz-button-list-inactive"),
                        quizFinishedList: $("#quiz-button-list-finished"),
                        quizComingList: $("#quiz-button-list-coming"),
                        selectedQuizId: null
                    };
                    this.detailController = new QuizDetailController();
                    this.bindEvent();
                    this.load();
                }

                load () {
                    document.APIService.getQuizList($.proxy(this.loadQuizList, this));
                }

                bindEvent() {
                    this.DOM.addQuizButton.click($.proxy(this.addQuizButtonClicked, this));
                }

                addQuizButtonClicked(event) {
                    this.setSelectedQuiz(null);
                    this.detailController.lockView(false);
                    this.detailController.reset();
                    this.detailController.show();
                    this.detailController.focusOnTitle();
                }

                setSelectedQuiz (quiz_id) {
                    this.DOM.selectedQuizId = parseInt(quiz_id);
                    $(".quiz-button").removeClass("btn-primary");
                    if (quiz_id) {
                        $("#quiz-button-" + quiz_id.toString()).addClass("btn-primary");
                    }
                }

                loadQuizList (resp) {
                    console.log(resp);
                    // Active
                    this.DOM.quizActiveList.html("");
                    const resp_quizzes_active = resp["quizzes_active"];
                    for (let i in resp_quizzes_active) {
                        const resp_quiz = resp_quizzes_active[i];
                        const new_quiz_button = document.DOMFactory.elementWithId("quiz-button", resp_quiz["name"], "btn-default");
                        new_quiz_button.attr('id', "quiz-button-" + resp_quiz['id']);
                        new_quiz_button.data(resp_quiz);
                        new_quiz_button.click($.proxy(this.quizButtonClicked, this));
                        this.DOM.quizActiveList.prepend(new_quiz_button);
                    }
                    // Coming
                    this.DOM.quizComingList.html("");
                    const resp_quizzes_coming = resp["quizzes_coming"];
                    for (let i in resp_quizzes_coming) {
                        const resp_quiz = resp_quizzes_coming[i];
                        const new_quiz_button = document.DOMFactory.elementWithId("quiz-button", resp_quiz["name"], "btn-default");
                        new_quiz_button.attr('id', "quiz-button-" + resp_quiz['id']);
                        new_quiz_button.data(resp_quiz);
                        new_quiz_button.click($.proxy(this.quizButtonClicked, this));
                        this.DOM.quizComingList.prepend(new_quiz_button);
                    }
                    // Finished
                    this.DOM.quizFinishedList.html("");
                    const resp_quizzes_finished = resp["quizzes_finished"];
                    for (let i in resp_quizzes_finished) {
                        const resp_quiz = resp_quizzes_finished[i];
                        const new_quiz_button = document.DOMFactory.elementWithId("quiz-button", resp_quiz["name"], "btn-default");
                        new_quiz_button.attr('id', "quiz-button-" + resp_quiz['id']);
                        new_quiz_button.data(resp_quiz);
                        new_quiz_button.click($.proxy(this.quizButtonClicked, this));
                        this.DOM.quizFinishedList.prepend(new_quiz_button);
                    }
                    // Inactive
                    this.DOM.quizInactiveList.html("");
                    const resp_quizzes_inactive = resp["quizzes_inactive"];
                    for (let i in resp_quizzes_inactive) {
                        const resp_quiz = resp_quizzes_inactive[i];
                        const new_quiz_button = document.DOMFactory.elementWithId("quiz-button", resp_quiz["name"], "btn-default");
                        new_quiz_button.attr('id', "quiz-button-" + resp_quiz['id']);
                        new_quiz_button.data(resp_quiz);
                        new_quiz_button.click($.proxy(this.quizButtonClicked, this));
                        this.DOM.quizInactiveList.prepend(new_quiz_button);
                    }
                }

                quizButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    console.log(data);
                    this.setSelectedQuiz(data["id"]);
                    this.detailController.loadWithData(data);
                }

            }

            class ViewController {

                constructor () {
                    this.listController = new QuizListController();
                    this.bindSearchPair();
                }

                bindSearchPair () {
                    const BindSearchEventPair = function (input_s, list_s, where_s) {
                        $(input_s).on("change keyup paste", $.proxy(function (event) {
                            const sender = $(event.currentTarget);
                            const sc = sender.val();
                            $(list_s).each(function () {
                                const e = $(this);
                                let st;
                                if (where_s === null) {
                                    st = e.text();
                                }
                                else {
                                    st = $(this).find(where_s).text();
                                }
                                if (st.indexOf(sc) !== -1) {
                                    e.show();
                                }
                                else {
                                    e.hide();
                                }
                            });
                        }, this));
                    };
                    const categories = ["active", "coming", "finished", "inactive"];
                    for (let i = 0; i < categories.length; i++)
                    {
                        const category = categories[i];
                        BindSearchEventPair("#search-quiz-" + category, "#quiz-button-list-" + category + " > button", null);
                    }
                }

            }

            {
                document.APIService = new APIService();
                document.RootController = new ViewController();
            }

        });
    </script>
    <script id="template-quiz-button" type="text/plain" language="text">
        <button type="button" class="btn {2} btn-block quiz-button">
            {1}
            <span class="glyphicon glyphicon-chevron-right btn-icon float-right"></span>
        </button>
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/teacher/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li><a th:href="@{/teacher/group}">Group</a></li>
                <li><a th:href="@{/teacher/question}">Question</a></li>
                <li class="active"><a th:href="@{/teacher/questionnaire}">Questionnaire</a></li>
                <li><a th:href="@{/teacher/statistics}">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="row roux-row">

        <!-- Quiz Area -->
        <div class="col-sm-4">

            <button id="add-new-quiz" type="button" class="btn btn-success btn-block"
                    data-toggle="modal" data-target="#new-quiz-popup">
                <span class="glyphicon glyphicon-plus"></span>
                New Questionnaire
            </button>
            <hr>

            <div class="panel-group quiz-category" id="quiz-category" role="tablist">

                <!-- Active -->
                <div class="panel panel-default roux-panel">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#quiz-category" href="#quiz-active">
                                Active
                            </a>
                        </h4>
                    </div>
                    <div id="quiz-active" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" id="search-quiz-active" class="form-control"
                                       placeholder="Search questionnaire">
                            </div>

                            <br>

                            <div class="scroll-list">
                                <div class="scroll-list-quiz active">
                                    <div id="quiz-button-list-active"></div>
                                </div>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>

                <!-- Coming -->
                <div class="panel panel-default roux-panel">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#quiz-category"
                               href="#quiz-coming">
                                Coming
                            </a>
                        </h4>
                    </div>
                    <div id="quiz-coming" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" id="search-quiz-coming" class="form-control"
                                       placeholder="Search questionnaire">
                            </div>

                            <br>

                            <div class="scroll-list">
                                <div class="scroll-list-quiz coming">
                                    <div id="quiz-button-list-coming"></div>
                                </div>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>

                <!-- Finished -->
                <div class="panel panel-default roux-panel">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#quiz-category"
                               href="#quiz-finished">
                                Finished
                            </a>
                        </h4>
                    </div>
                    <div id="quiz-finished" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" id="search-quiz-finished" class="form-control"
                                       placeholder="Search questionnaire">
                            </div>

                            <br>

                            <div class="scroll-list">
                                <div class="scroll-list-quiz finished">
                                    <div id="quiz-button-list-finished"></div>
                                </div>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>

                <!-- Inactive -->
                <div class="panel panel-default roux-panel">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#quiz-category"
                               href="#quiz-inactive">
                                Inactive
                            </a>
                        </h4>
                    </div>
                    <div id="quiz-inactive" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" id="search-quiz-inactive" class="form-control"
                                       placeholder="Search questionnaire">
                            </div>

                            <br>

                            <div class="scroll-list">
                                <div class="scroll-list-quiz inactive">
                                    <div id="quiz-button-list-inactive"></div>
                                </div>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="quiz-detail" style="display: none;">

            <!-- Quiz Detail -->
            <div class="col-sm-8">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body">

                        <div class="question-form">

                            <form method="POST" class="form-horizontal">

                                <input id="quiz-title-input" class="edit-title quiz-title" type="text" placeholder="Untitled Questionnaire">

                                <hr/>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="quiz-active-option" class="col-sm-3 control-label">Active</label>
                                        <div class="checkbox col-sm-9">
                                            <label>
                                                <input id="quiz-active-option" type="checkbox" checked value="">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="quiz-target-class" class="col-sm-3 control-label">Group</label>
                                        <div class="col-sm-9">
                                            <select id="quiz-target-class" class="form-control" title="">
                                                <option value="0">Unassigned</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="quiz-start-at" class="col-sm-3 control-label">Start At</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input type="text" class="form-control select-date" id="quiz-start-at"
                                                       name="quiz-start-at"
                                                       title=""
                                                       data-id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="quiz-end-at" class="col-sm-3 control-label">End At</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input type="text" class="form-control select-date" id="quiz-end-at"
                                                       name="quiz-end-at"
                                                       title=""
                                                       data-id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="quiz-repeat-for" class="col-sm-3 control-label">Repeat</label>
                                        <div class="col-sm-6">
                                            <select id="quiz-repeat-for" class="form-control" name="quiz-repeat-for"
                                                    title="">
                                                <option value="1">No repeat</option>
                                                <option value="2">Everyday</option>
                                                <option value="3">Once a week</option>
                                                <option value="4">Once a month</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="form-group">
                                    <div class="row multi-select">
                                        <div class="col-sm-5">
                                            <select multiple id="question-selection"
                                                    class="form-control question-select"
                                                    name="question-selection-from[]" title="">
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" id="question-selection_rightSelected"
                                                    class="btn btn-default btn-block">
                                                <i class="glyphicon glyphicon-chevron-right"></i>
                                            </button>
                                            <button type="button" id="question-selection_leftSelected"
                                                    class="btn btn-default btn-block">
                                                <i class="glyphicon glyphicon-chevron-left"></i>
                                            </button>
                                            <button type="button" id="question-selection_move_up"
                                                    class="btn btn-default btn-block">
                                                <i class="glyphicon glyphicon-arrow-up"></i>
                                            </button>
                                            <button type="button" id="question-selection_move_down"
                                                    class="btn btn-default btn-block">
                                                <i class="glyphicon glyphicon-arrow-down"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-5">
                                            <select multiple id="question-selection_to"
                                                    class="form-control question-select" name="question-selection-to[]"
                                                    title="">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="form-group">
                                    <div class="quiz-button-group">
                                        <div class="float-left">
                                            <button id="quiz-delete-button" type="button" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </div>
                                        <div class="float-right">
                                            <button id="quiz-reset-button" type="button" class="btn btn-default">Reset
                                            </button>
                                            <button id="quiz-publish-button" type="button" class="btn btn-success">
                                                Publish
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ajax Overlay
    <div class="overlay" style="z-index: 200;"></div>
     -->

</div>

</body>
</html>