<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Question</title>
    <script>

        $(document).ready(function () {

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                getQuestionList (callback) {
                    $.ajax("/api/question", {
                        success: callback
                    });
                }

                saveQuestion (callback, form_data) {
                    $.ajax("/api/question/add", {
                        data: JSON.stringify(form_data),
                        success: callback
                    });
                }
            }

            class QuestionDetailController {

                constructor () {
                    this.DOM = {
                        questionView: $(".question-detail"), // div
                        questionTitle: $(".question-title"),
                        mandatoryInput: $("#mandatory-option"), // input checkbox
                        questionTypeInput: $("#question-type"), // select
                        questionContentInput: $("#question-content"), // textarea,
                        allowCommentInput: $("#allow-comment-option"),
                        createChartInput: $("#create-graph-option"),
                        questionDeleteButton: $("#question-delete-button"),
                        questionSaveButton: $("#question-save-button"),
                        questionResetButton: $("#question-reset-button"),
                        questionFieldContainer: $("#question-field-container"),
                        questionForm: $("#question-form"),
                        questionDetailData: null
                    };
                    this.bindEvent();
                }

                reset () {
                    this.DOM.questionDetailData = null;
                    this.DOM.questionDeleteButton.data("id", null);
                    this.DOM.questionSaveButton.data("id", null);
                    this.DOM.questionResetButton.data("id", null);
                    this.DOM.questionTitle.val("New Question");
                    this.DOM.mandatoryInput.prop("checked", true);
                    this.DOM.questionTypeInput.val("1");
                    this.DOM.questionContentInput.val("");
                    this.DOM.allowCommentInput.prop("checked", false);
                    this.DOM.createChartInput.prop("checked", false);
//                    this.DOM.questionSaveButton.prop("disabled", true);
                    this.DOM.createChartInput.prop("disabled", true);
                    this.DOM.questionFieldContainer.html("");
                }

                hide () {
                    this.DOM.questionView.fadeOut(200);
                }

                show () {
                    this.DOM.questionView.fadeIn(200);
                }

                focusOnTitle () {
                    this.DOM.questionContentInput.focus();
                }

                bindEvent () {
                    this.DOM.questionDeleteButton.click($.proxy(this.questionDeleteButtonClicked, this));
                    this.DOM.questionSaveButton.click($.proxy(this.questionSaveButtonClicked, this));
                    this.DOM.questionResetButton.click($.proxy(this.questionResetButtonClicked, this));
//                    this.DOM.questionContentInput.on("change paste keyup", $.proxy(this.saveStatusChanged, this));
                    this.DOM.questionTypeInput.on("change", $.proxy(this.questionTypeChanged, this));
//                    this.DOM.allowCommentInput.on("change", $.proxy(this.saveStatusChanged, this));
//                    this.DOM.mandatoryInput.on("change", $.proxy(this.saveStatusChanged, this));
                }

                questionTypeChanged (event) {
//                    this.saveStatusChanged(event);
                    const sender = $(event.currentTarget);
                    const question_type = parseInt(sender.val());
                    this.DOM.questionFieldContainer.html("");
                    if (question_type === 3)
                    {
                        this.loadQuestionFieldRadio(null);
                    }
                    else if (question_type === 4)
                    {
                        this.loadQuestionFieldCheckbox(null);
                    }
                    else if (question_type === 5)
                    {
                        this.loadQuestionFieldDropdown(null);
                    }
                }

//                saveStatusChanged (event) {
//                    const content = this.DOM.questionContentInput.val();
//                    this.DOM.questionSaveButton.attr('disabled', $.trim(content).length <= 0);
//                }

                questionDeleteButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    console.log(data);
                    if (this.DOM.questionDetailData === null) { // new question
                        this.hide();
                        this.reset();
                    } else {
                        swal({
                            title: "Are you sure?",
                            text: "The question will be deleted! \n" +
                            "You will not be able to revoke this operation!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, delete it!",
                            closeOnConfirm: false,
                            html: false
                        }, $.proxy(function () {

                        }, this));
                    }
                }

                questionSaveButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    const parameters = {};
                    const parameters_property_element = $("input[name*='user-property']");
                    $.each(parameters_property_element, function (index, value) {
                        const elem_type = $(value).attr("type");
                        const elem_name = $(value).attr("name");
                        if (elem_type === "text") {
                            parameters[elem_name] = $(value).val();
                        } else if (elem_type === "checkbox") {
                            if ($(value).is(':checked')) {
                                parameters[elem_name] = "checked";
                            }
                        }
                    });
                    const option_list = $("div[id*='option-list']");
                    const parameters_option_element = option_list.find("input[type='text']");
                    const user_options = [];
                    $.each(parameters_option_element, function (index, value) {
                        const input_name = $(value).attr("name");
                        const input_value = $(value).val();
                        user_options.push({
                            "name": input_name,
                            "value": input_value
                        });
                    });
                    parameters["user-options"] = user_options;
                    const parameters_default_element = option_list.find("input:checked");
                    const user_default = [];
                    $.each(parameters_default_element, function (index, value) {
                        const input_value = parseInt($(value).val());
                        user_default.push(input_value);
                    });
                    parameters["user-default"] = user_default;
                    // pre-check
                    const question_content = this.DOM.questionContentInput.val();
                    if (question_content.length === 0) {
                        swal("Oops...", "The content of question cannot be empty.", "error");
                        return;
                    }
                    if (user_options.length > 32) {
                        swal("Oops...", "The count of options reaches the maximum limit (32).", "error");
                        return;
                    }
                    for (let user_option_i = 0; user_option_i < user_options.length; ++user_option_i) {
                        const user_option = user_options[user_option_i];
                        if (user_option["value"].length === 0)
                        {
                            swal("Oops...", "The title of " + user_option["name"] + " cannot be empty.", "error");
                            return;
                        }
                    }
                    if (
                        typeof parameters["user-property-checkbox-min"] !== 'undefined' &&
                        typeof parameters["user-property-checkbox-max"] !== 'undefined'
                    ) {
                        const default_length = user_default.length;
                        const min_length = parseInt(parameters["user-property-checkbox-min"]);
                        const max_length = parseInt(parameters["user-property-checkbox-max"]);
                        if (min_length > max_length) {
                            swal("Oops...", "The minimum count (" + min_length + ") is larger than the maximum count (" + max_length + ").", "error");
                            return;
                        }
                        if (default_length < min_length || default_length > max_length) {
                            swal("Oops...", "The count of default values out of range (" + min_length + ", " + max_length + ")", "error");
                            return;
                        }
                    }
                    console.log(parameters);
                    let form_data = {
                        "name": question_content,
                        "has_commentary": this.DOM.allowCommentInput.is(':checked'),
                        "id_question_type": parseInt(this.DOM.questionTypeInput.val()),
                        "mandatory": this.DOM.mandatoryInput.is(':checked'),
                        "parameters": parameters
                    };
                    if (data["id"]) {
                        form_data["id"] = data["id"];
                    }
                    document.APIService.saveQuestion($.proxy(function (resp) {
                        if (resp["result"] === "succeed") {
                            swal("Saved!",
                                "This question has been saved.",
                                "success");
                            if (this.DOM.questionDetailData === null)
                            {
                                document.RootController.listController.load();
                            }
                            else
                            {
                                document.RootController.listController.setQuestionData(form_data);
                                this.loadWithData(form_data);
                            }
                        }
                    }, this), form_data);
                }

                questionResetButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    console.log(data);
                    this.loadWithData(jQuery.extend(true, {}, data));
                }

                loadWithData (data) {
                    this.reset();
                    this.DOM.questionDetailData = data;
                    if (data && data["id"]) {
                        this.loadQuestionForm(data);
                    }
                    this.show();
                }

                loadQuestionForm (data) {
                    this.DOM.questionTitle.val("Question " + data["id"]);
                    this.DOM.questionTypeInput.val(data["id_question_type"]);
                    this.DOM.questionContentInput.val(data["name"]);
                    this.DOM.allowCommentInput.prop("checked", data["has_commentary"]);
                    this.DOM.mandatoryInput.prop("checked", data["mandatory"]);
                    this.DOM.questionDeleteButton.data(data);
                    this.DOM.questionSaveButton.data(data);
                    this.DOM.questionResetButton.data(data);
                    this.DOM.questionFieldContainer.html("");
                    const question_type = parseInt(data["id_question_type"]);
                    if (question_type === 3)
                    {
                        this.loadQuestionFieldRadio(data);
                    }
                    else if (question_type === 4)
                    {
                        this.loadQuestionFieldCheckbox(data);
                    }
                    else if (question_type === 5)
                    {
                        this.loadQuestionFieldDropdown(data);
                    }
                }

                loadQuestionFieldRadio (data) {
                    let field_content = "";
                    if (data !== null) {
                        const para = data["parameters"];
                        if (para !== null)
                        {
                            const default_val = parseInt(para["user-default"][0]);
                            const user_options = para["user-options"];
                            for (var i = 0; i < user_options.length; i++) {
                                const user_option = user_options[i];
                                const option_name = user_option["name"];
                                const option_value = user_option["value"];
                                const option_array = option_name.split("-");
                                const option_id = parseInt(option_array[2]);

                                const checked_val = (default_val === option_id) ? "checked" : "";
                                field_content += document.DOMFactory.elementWithId(
                                    "field-group-radio",
                                    "Option " + option_id, // {1}
                                    option_value, // {2}
                                    "" + option_id, // {3}
                                    checked_val, // {4}
                                    "user-radio-" + option_id, // {5}
                                    "title of option " + option_id // {6}
                                ).wrap('<div>').parent().html();
                            }
                        }
                    }
                    else
                    {
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-radio",
                            "Option 1", // {1}
                            "", // {2}
                            "1", // {3}
                            "checked", // {4}
                            "user-radio-1", // {5}
                            "title of option 1" // {6}
                        ).wrap('<div>').parent().html();
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-radio",
                            "Option 2", // {1}
                            "", // {2}
                            "2", // {3}
                            "", // {4}
                            "user-radio-2", // {5}
                            "title of option 2" // {6}
                        ).wrap('<div>').parent().html();
                    }
                    let field = document.DOMFactory.elementWithId(
                        "question-field-radio",
                        field_content
                    ).wrap('<div>').parent().html();
                    field += "<hr/>";
                    this.DOM.questionFieldContainer.html(field);
                    $("#user-radio-add").click($.proxy(function (event) {
                        const option_list = $("#radio-option-list");
                        const option_count = option_list.children().length + 1;
                        if (option_count < 32)
                        {
                            const new_option = document.DOMFactory.elementWithId(
                                "field-group-radio",
                                "Option " + option_count, // {1}
                                "", // {2}
                                "" + option_count, // {3}
                                "", // {4}
                                "user-radio-" + option_count, // {5}
                                "title of option " + option_count // {6}
                            );
                            option_list.append(new_option);
                        }
                    }, this));
                    $("#user-radio-remove").click($.proxy(function (event) {
                        const option_list = $("#radio-option-list");
                        const option_count = option_list.children().length;
                        if (option_count > 2) {
                            option_list.children().last().remove();
                        }
                    }, this));
                }

                loadQuestionFieldCheckbox (data) {
                    let field_content = "";
                    if (data !== null) {
                        const para = data["parameters"];
                        if (para !== null)
                        {
                            const default_vals = para["user-default"];
                            const user_options = para["user-options"];
                            for (var i = 0; i < user_options.length; i++) {
                                const user_option = user_options[i];
                                const option_name = user_option["name"];
                                const option_value = user_option["value"];
                                const option_array = option_name.split("-");
                                const option_id = parseInt(option_array[2]);

                                const checked_val = ($.inArray(option_id, default_vals) >= 0) ? "checked" : "";
                                field_content += document.DOMFactory.elementWithId(
                                    "field-group-checkbox",
                                    "Option " + option_id, // {1}
                                    option_value, // {2}
                                    "" + option_id, // {3}
                                    checked_val, // {4}
                                    "user-checkbox-" + option_id, // {5}
                                    "title of option " + option_id // {6}
                                ).wrap('<div>').parent().html();
                            }
                        }
                    }
                    else
                    {
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-checkbox",
                            "Option 1", // {1}
                            "", // {2}
                            "1", // {3}
                            "", // {4}
                            "user-checkbox-1", // {5}
                            "title of option 1" // {6}
                        ).wrap('<div>').parent().html();
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-checkbox",
                            "Option 2", // {1}
                            "", // {2}
                            "2", // {3}
                            "", // {4}
                            "user-checkbox-2", // {5}
                            "title of option 2" // {6}
                        ).wrap('<div>').parent().html();
                    }
                    let field = document.DOMFactory.elementWithId(
                        "question-field-checkbox",
                        field_content
                    ).wrap('<div>').parent().html();
                    field += "<hr/>";
                    this.DOM.questionFieldContainer.html(field);
                    $("#user-checkbox-add").click($.proxy(function (event) {
                        const option_list = $("#checkbox-option-list");
                        const option_count = option_list.children().length + 1;
                        if (option_count < 32)
                        {
                            const new_option = document.DOMFactory.elementWithId(
                                "field-group-checkbox",
                                "Option " + option_count, // {1}
                                "", // {2}
                                "" + option_count, // {3}
                                "", // {4}
                                "user-checkbox-" + option_count, // {5}
                                "title of option " + option_count // {6}
                            );
                            option_list.append(new_option);
                        }
                    }, this));
                    $("#user-checkbox-remove").click($.proxy(function (event) {
                        const option_list = $("#checkbox-option-list");
                        const option_count = option_list.children().length;
                        if (option_count > 2) {
                            option_list.children().last().remove();
                        }
                    }, this));
                    if (data !== null) {
                        const para = data["parameters"];
                        if (para !== null) {
                            let elem_name;
                            elem_name = "user-property-checkbox-min";
                            if (typeof para[elem_name] !== 'undefined') {
                                $("input[name=" + elem_name + "]").val(para[elem_name]);
                            }
                            elem_name = "user-property-checkbox-max";
                            if (typeof para[elem_name] !== 'undefined') {
                                $("input[name=" + elem_name + "]").val(para[elem_name]);
                            }
                        }
                    }
                }

                loadQuestionFieldDropdown (data) {
                    let field_content = "";
                    if (data !== null) {
                        const para = data["parameters"];
                        if (para !== null)
                        {
                            const user_options = para["user-options"];
                            for (var i = 0; i < user_options.length; i++) {
                                const user_option = user_options[i];
                                const option_name = user_option["name"];
                                const option_value = user_option["value"];
                                const option_array = option_name.split("-");
                                const option_id = parseInt(option_array[2]);
                                field_content += document.DOMFactory.elementWithId(
                                    "field-group-dropdown",
                                    "Option " + option_id, // {1}
                                    option_value, // {2}
                                    "user-dropdown-" + option_id, // {3}
                                    "title of option " + option_id // {4}
                                ).wrap('<div>').parent().html();
                            }
                        }
                    }
                    else
                    {
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-dropdown",
                            "Option 1", // {1}
                            "", // {2}
                            "user-dropdown-1", // {3}
                            "title of option 1" // {4}
                        ).wrap('<div>').parent().html();
                        field_content += document.DOMFactory.elementWithId(
                            "field-group-dropdown",
                            "Option 2", // {1}
                            "", // {2}
                            "user-dropdown-2", // {3}
                            "title of option 2" // {4}
                        ).wrap('<div>').parent().html();
                    }
                    let field = document.DOMFactory.elementWithId(
                        "question-field-dropdown",
                        field_content
                    ).wrap('<div>').parent().html();
                    field += "<hr/>";
                    this.DOM.questionFieldContainer.html(field);
                    $("#user-dropdown-add").click($.proxy(function (event) {
                        const option_list = $("#dropdown-option-list");
                        const option_count = option_list.children().length + 1;
                        if (option_count < 16)
                        {
                            const new_option = document.DOMFactory.elementWithId(
                                "field-group-dropdown",
                                "Option " + option_count, // {1}
                                "", // {2}
                                "user-dropdown-" + option_count, // {3}
                                "title of option " + option_count // {4}
                            );
                            option_list.append(new_option);
                        }
                    }, this));
                    $("#user-dropdown-remove").click($.proxy(function (event) {
                        const option_list = $("#dropdown-option-list");
                        const option_count = option_list.children().length;
                        if (option_count > 2) {
                            option_list.children().last().remove();
                        }
                    }, this));
                    if (data !== null) {
                        const para = data["parameters"];
                        if (para !== null) {
                            const elem_name = "user-property-dropdown-multiple";
                            if (typeof para[elem_name] !== 'undefined') {
                                $("input[name=" + elem_name + "]").prop("checked", true);
                            }
                        }
                    }
                }

            }

            class QuestionListController {

                constructor () {
                    this.DOM = {
                        questionCreateButton: $("#common-new-question"), // button
                        questionList: $("#search-question-list"), // div
                        searchQuestionInput: $("#search-group"),
                        selectedQuestionId: null
                    };
                    this.detailController = new QuestionDetailController();
                    this.bindEvent();
                    this.load();
                }

                load () {
                    this.detailController.reset();
                    this.detailController.hide();
                    this.reloadData();
                }

                bindEvent () {
                    this.DOM.questionCreateButton.click($.proxy(this.createQuestionButtonClicked, this));
                }

                reloadData () {
                    document.APIService.getQuestionList($.proxy(this.reloadQuestionList, this));
                }

                setQuestionData (data) {
                    $("#question-button-" + data["id"]).data(data);
                }

                reloadQuestionList (resp) {
                    console.log(resp);
                    this.DOM.questionList.html("");
                    const resp_question_list = resp["question_list"];
                    for (let i in resp_question_list) {
                        const resp_question = resp_question_list[i];
                        const new_question_button = document.DOMFactory.elementWithId("question-button", "Question " + resp_question["id"], "btn-default");
                        new_question_button.attr('id', "question-button-" + resp_question['id']);
                        new_question_button.data(resp_question);
                        new_question_button.click($.proxy(this.questionButtonClicked, this));
                        this.DOM.questionList.prepend(new_question_button);
                    }
                }

                setSelectedQuestion (question_id) {
                    this.DOM.selectedQuestionId = parseInt(question_id);
                    $(".question-button").removeClass("btn-primary");
                    if (question_id) {
                        $("#question-button-" + question_id.toString()).addClass("btn-primary");
                    }
                }

                createQuestionButtonClicked (event) {
                    this.setSelectedQuestion(null);
                    this.detailController.reset();
                    this.detailController.show();
                    this.detailController.focusOnTitle();
                }

                questionButtonClicked (event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    this.setSelectedQuestion(data["id"]);
                    this.detailController.loadWithData(data);
                    console.log(data);
                }

            }

            class ViewController {

                constructor () {
                    this.listController = new QuestionListController();
                    this.bindSearchPair();
                }
                
                bindSearchPair () {
                    const BindSearchEventPair = function (input_s, list_s, where_s) {
                        $(input_s).on("change keyup paste", function (event) {
                            const sc = $(event.currentTarget).val();
                            $(list_s).each(function () {
                                const e = $(this);
                                let st;
                                if (where_s === null) {
                                    st = e.text();
                                }
                                else {
                                    st = $(this).find(where_s).text();
                                }
                                if (st.indexOf(sc) !== -1) {
                                    e.show();
                                }
                                else {
                                    e.hide();
                                }
                            });
                        });
                    };
                    BindSearchEventPair("#search-question", "#search-question-list > button", null);
                }

            }

            {
                document.APIService = new APIService();
                document.RootController = new ViewController();
            }

        });

    </script>
    <script id="template-question-button" type="text/plain" language="text">
        <button type="button" class="btn {2} btn-block question-button">
            {1}
            <span class="glyphicon glyphicon-chevron-right btn-icon float-right"></span>
        </button>
    </script>
    <script id="template-field-group-radio" type="text/plain" language="text">
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label">{1}</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name="user-radio-default" value="{3}" title="" {4}>
                        </span>
                        <input name="{5}" class="form-control"
                                type="text" placeholder="{6}" value="{2}">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-question-field-radio" type="text/plain" language="text">
        <div id="question-field-radio" class="question-area">
            <div class="question-field question-field-radio">
                <div id="radio-option-list">
                    {1}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button id="user-radio-add" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </button>
                            <button id="user-radio-remove" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-field-group-checkbox" type="text/plain" language="text">
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label">{1}</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="user-checkbox-default" value="{3}"
                                    title="" {4}>
                        </span>
                        <input name="{5}" class="form-control"
                                type="text" placeholder="{6}" value="{2}">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-question-field-checkbox" type="text/plain" language="text">
        <div id="question-field-checkbox" class="question-area">
            <div class="question-field question-field-property">
                <div class="form-group">
                    <div class="row">
                        <label for="user-property-checkbox-min" class="col-sm-3 control-label">Minimum
                            Count</label>
                        <div class="col-sm-3">
                            <input id="user-property-checkbox-min" name="user-property-checkbox-min"
                                    class="form-control"
                                    type="number" placeholder="0" value="0" min="0" step="1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="user-property-checkbox-max" class="col-sm-3 control-label">Maximum
                            Count</label>
                        <div class="col-sm-3">
                            <input id="user-property-checkbox-max" name="user-property-checkbox-max"
                                    class="form-control"
                                    type="number" placeholder="2" value="2" min="0" step="1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-field question-field-checkbox">
                <div id="checkbox-option-list">
                    {1}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button id="user-checkbox-add" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </button>
                            <button id="user-checkbox-remove" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template-field-group-dropdown" type="text/plain" language="text">
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label">{1}</label>
                <div class="col-sm-9">
                    <input name="{3}" class="form-control"
                            type="text" placeholder="{4}" value="{2}">
                </div>
            </div>
        </div>
    </script>
    <script id="template-question-field-dropdown" type="text/plain" language="text">
        <div id="question-field-dropdown" class="question-area">
            <div class="question-field question-field-property">
                <div class="form-group">
                    <div class="row">
                        <label for="user-property-dropdown-multiple" class="col-sm-3 control-label">Multiple</label>
                        <div class="checkbox col-sm-9">
                            <label>
                                <input id="user-property-dropdown-multiple"
                                        name="user-property-dropdown-multiple" type="checkbox" value="">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-field question-field-dropdown">
                <div id="dropdown-option-list">
                    {1}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button id="user-dropdown-add" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </button>
                            <button id="user-dropdown-remove" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand header-brand" th:href="@{/teacher/index}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}" src="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">
                <li><a th:href="@{/teacher/group}">Group</a></li>
                <li class="active"><a th:href="@{/teacher/question}">Question</a></li>
                <li><a th:href="@{/teacher/questionnaire}">Questionnaire</a></li>
                <li><a th:href="@{/teacher/statistics}">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="container">

    <div class="row roux-row">

        <!-- Question List Panel -->
        <div class="col-sm-4">
            <div class="panel panel-default roux-panel">
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" id="search-question" class="form-control"
                               placeholder="Search question">
                    </div>
                    <br>

                    <div class="scroll-list">
                        <div class="scroll-list-question">
                            <button id="common-new-question" type="button" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                            <hr>
                            <div id="search-question-list" class="question-button-list"></div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>

        <div class="question-detail" style="display: none;">

            <!-- Question Panel -->
            <div class="col-sm-8">
                <div class="panel panel-default roux-panel">
                    <div class="panel-body">

                        <div class="question-form">

                            <form id="question-form" method="POST" class="form-horizontal">

                                <input class="edit-title question-title" type="text" placeholder="Untitled Question"
                                       value="New Question" disabled>

                                <hr/>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="mandatory-option" class="col-sm-3 control-label">Mandatory</label>
                                        <div class="checkbox col-sm-9">
                                            <label>
                                                <input id="mandatory-option" name="mandatory-option" type="checkbox" checked
                                                       value="">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="question-type" class="col-sm-3 control-label">Question Type</label>
                                        <div class="col-sm-9">
                                            <select id="question-type" class="form-control" name="question-type" title="">
                                                <option value="1">Short Answer</option>
                                                <option value="2">Paragraph</option>
                                                <option value="3">Radio Boxes</option>
                                                <option value="4">Check Boxes</option>
                                                <option value="5">Dropdown List</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="question-content" class="col-sm-3 control-label">Content</label>
                                        <div class="col-sm-9">
                                    <textarea id="question-content" name="question-content" class="form-control"
                                              placeholder="Dear teacher, what would you like to ask?"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="create-graph-option" class="col-sm-3 control-label"></label>
                                        <div class="checkbox col-sm-9">
                                            <label>
                                                <input id="create-graph-option" name="create-graph-option" type="checkbox"
                                                       value="">
                                                Create a chart
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <label for="allow-comment-option" class="col-sm-3 control-label"></label>
                                        <div class="checkbox col-sm-9">
                                            <label>
                                                <input id="allow-comment-option" name="allow-comment-option" type="checkbox"
                                                       value="">
                                                Allow comments
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div id="question-field-container"></div>

                                <div class="form-group">
                                    <div class="question-button-group">
                                        <div class="float-left">
                                            <button id="question-delete-button" type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                        <div class="float-right">
                                            <button id="question-reset-button" type="button" class="btn btn-default">Reset</button>
                                            <button id="question-save-button" type="button" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

</body>
</html>
