<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}">
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/roux-ui.js}"></script>
    <script>
        $(function () {

            'use strict';

            console.log("document ready");

            var DOMFactory = {
                elementWithId: function () {
                    if (arguments.length === 0)
                        return null;
                    var elem_id = arguments[0];
                    var result = $("#template-" + elem_id).html();
                    for (var i = 1; i < arguments.length; i++) {
                        var re = new RegExp('\\{' + (i) + '\\}', 'gm');
                        result = result.replace(re, arguments[i]);
                    }
                    return $(result);
                }
            };

            var APIService = {
                init: function () {
                    $.ajaxSetup({
                        method: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=UTF-8",
                        timeout: 10000,
                        error: APIService.errorHandler,
                        async: true
                    });
                },
                errorHandler: function (xmlHTTP, status, httperror) {
                    UI.allowsUserInteraction(true);
                    if (httperror === "timeout") {
                        swal("Oops...", "Connection Timeout (10)", "error");
                    } else {
                        var resp = $.parseJSON(xmlHTTP.responseText);
                        if (resp && resp["message"]) {
                            swal("Oops...", resp['message'], "error");
                        }
                    }
                },
                loginCheck: function (callback, username, password) {
                    $.ajax("/loginCheck", {
                        data: JSON.stringify({
                            "login": username,
                            "password": password
                        }),
                        success: callback
                    });
                }
            };

            var LoginController = {

                storage: {
                    usernameInput: $("#username"),
                    passwordInput: $("#password"),
                    submitInput: $("button[name=submit]")
                },

                init: function () {
                    LoginController.bindEvent();
                    UI.allowsUserInteraction(true);
                },

                bindEvent: function () {
                    LoginController.storage.submitInput.click(LoginController.loginButtonClicked);
                    LoginController.storage.passwordInput.on("keypress", function () {
                        if (event.which === 13) {
                            if ($.trim($(this).val()).length > 0) {
                                LoginController.storage.submitInput.click();
                            }
                        }
                    });
                },

                loginButtonClicked: function (e) {
                    var username = LoginController.storage.usernameInput.val();
                    var password = LoginController.storage.passwordInput.val();
                    if (
                        username.length !== 0 &&
                        password.length !== 0
                    ) {
                        UI.allowsUserInteraction(false);
                        APIService.loginCheck(function (data) {
                            UI.allowsUserInteraction(true);
                            if (data['loginSucces'] === true)
                            {
                                window.location.href = data['redirectionLink'];
                            }
                        }, username, password);
                    }
                }

            };

            APIService.init();
            LoginController.init();

        });
    </script>
</head>
<body>
<div layout:fragment="container">
    <div class="roux-login-wrap">
        <div class="roux-login">
            <h1><span class="i-logo">PandaRoux</span></h1>
            <form method="post"
                  name="login" role="form">
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" value="" placeholder="Username"
                           class="text-l w-100" autofocus/>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="text-l w-100"
                           placeholder="Password"/>
                </p>
                <p class="submit">
                    <button name="submit" type="button" class="btn btn-l w-100 primary">Login</button>
                </p>
                <p>
                    <label for="remember"><input type="checkbox" name="remember" class="checkbox" value="1"
                                                 id="remember"/> Remember me</label>
                </p>
            </form>
        </div>
    </div>

    <!-- Ajax Overlay -->
    <div class="overlay" style="z-index: 200;"></div>

</div>
</body>
</html>
