<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="site-base">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}">
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/roux-ui.js}"></script>
    <script>
        $(function () {

            'use strict';

            console.log("document ready");

            class APIService extends BaseAPIService {
                loginCheck (callback, username, password) {
                    $.ajax("/login", {
                        data: JSON.stringify({
                            "login": username,
                            "password": password
                        }),
                        success: callback
                    });
                }
            }

            class LoginController {

                constructor () {
                    this.DOM = {
                        usernameInput: $("#username"),
                        passwordInput: $("#password"),
                        submitInput: $("button[name=submit]")
                    };
                    this.bindEvent();
                    UI.allowsUserInteraction(true);
                }

                bindEvent () {
                    this.DOM.submitInput.click($.proxy(this.loginButtonClicked, this));
                    this.DOM.passwordInput.on("keypress", $.proxy(function (event) {
                        const sender = $(event.currentTarget);
                        if (event.which === 13) {
                            if ($.trim(sender.val()).length > 0) {
                                this.DOM.submitInput.click();
                            }
                        }
                    }, this));
                }

                loginButtonClicked (event) {
                    const username = this.DOM.usernameInput.val();
                    const password = this.DOM.passwordInput.val();
                    if (
                        username.length !== 0 &&
                        password.length !== 0
                    ) {
                        UI.allowsUserInteraction(false);
                        document.APIService.loginCheck(function (data) {
                            UI.allowsUserInteraction(true);
                            if (data['loginSuccess'] === true)
                            {
                                window.location.href = data['redirectionLink'];
                            }
                        }, username, password);
                    }
                }

            }

            {
                document.APIService = new APIService();
                document.RootController = new LoginController();
            }

        });
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right" layout:fragment="nav-login">
            <li id="login-button" class="active"><a th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</nav>

<div layout:fragment="container">
    <div class="roux-login-wrap">
        <div class="roux-login">
            <h1><span class="i-logo">PandaRoux</span></h1>
            <form method="post"
                  name="login" role="form">
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" value="" placeholder="Username"
                           class="text-l w-100" autofocus/>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="text-l w-100"
                           placeholder="Password"/>
                </p>
                <p class="submit">
                    <button name="submit" type="button" class="btn btn-l w-100 primary">Login</button>
                </p>
                <p>
                    <label for="remember"><input type="checkbox" name="remember" class="checkbox" value="1"
                                                 id="remember"/> Remember me</label>
                </p>
            </form>
        </div>
    </div>

    <!-- Ajax Overlay -->
    <div class="overlay" style="z-index: 200;"></div>

</div>
</body>
</html>
