<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="site-base">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">PandaRoux</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}">
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script>
        class BaseAPIService {
            constructor() {
                $.ajaxSetup({
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    timeout: 10000,
                    error: BaseAPIService.errorHandler,
                    async: false
                });
            }

            static errorHandler(xmlHTTP, status, httperror) {
                const resp = $.parseJSON(xmlHTTP.responseText);
                if (resp && resp["message"]) {
                    swal("Oops...", resp['message'], "error");
                }
            }
        }

        class DOMFactory {
            elementWithId() {
                if (arguments.length === 0)
                    return null;
                const elem_id = arguments[0];
                let result = $("#template-" + elem_id).html();
                for (let i = 1; i < arguments.length; i++) {
                    const re = new RegExp('\\{' + (i) + '\\}', 'gm');
                    result = result.replace(re, arguments[i]);
                }
                return $(result);
            }
        }
    </script>
    <script>
        $(function () {

            'use strict';

            console.log("base ready");

            class SessionAPIService extends BaseAPIService {
                sessionCheck(callback) {
                    $.ajax("/session", {
                        success: callback
                    });
                }

                logout(callback) {
                    $.ajax("/logout", {
                        success: callback
                    });
                }
            }

            class SessionController {

                constructor() {
                    this.SessionAPIService = new SessionAPIService();
                    this.DOM = {
                        logoutButton: $("#logout-button"),
                        sessionButton: $("#session-button")
                    };
                    this.bindEvent();
                    this.load();
                }

                load() {
                    if (this.DOM.sessionButton.length > 0) {
                        this.SessionAPIService.sessionCheck($.proxy(this.loadSessionData, this));
                    }
                }

                bindEvent() {
                    this.DOM.logoutButton.click($.proxy(this.logoutButtonClicked, this));
                }

                loadSessionData (resp) {
                    if (resp["name"]) {
                        this.DOM.sessionButton.text(resp["name"]);
                        this.DOM.logoutButton.data(resp);
                    }
                }

                logoutButtonClicked(event) {
                    const sender = $(event.currentTarget);
                    const data = sender.data();
                    console.log(data);
                    this.SessionAPIService.logout(function (resp) {
                        window.location.href = "/login";
                    });
                }

            }

            {
                document.DOMFactory = new DOMFactory();
                document.SessionController = new SessionController();
            }

        });
    </script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand header-brand" th:href="@{/}" layout:fragment="nav-header">
                <img class="header-icon" th:src="@{/img/roux.png}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" layout:fragment="nav-content">

            </ul>
            <ul id="login-area" class="nav navbar-nav navbar-right" layout:fragment="nav-login">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span id="session-button"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="logout-button" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid container-main" layout:fragment="container">

</div>

<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted">Copyright 2017 &copy; PandaRoux Team.</p>
    </div>
</footer>

</body>
</html>
